<footer class="flex justify-center lg:py-32 py-24 bg-[#0C0C0C]">
    <div class="lg:w-[75%] w-[90%] flex lg:flex-row flex-col justify-between lg:items-center gap-16">
        <div>
            <img src="/images/logo.png" alt="" class="w-[97px] h-[93px]" />
            <p class="text-[#CECECE] max-w-[462px] my-4">TRAZ Intelligence and Security Solutions Limited is your trusted partner for innovative, comprehensive, and ethical security solutions.</p>
            <div>
                <span class="text-[#CECECE] inline-block mb-2">&copy; TRAZ Intelligence 2024</span>
                <div class="flex items-center gap-2 mt-2 lg:mt-0">
                    <img src="/images/facebook.png" alt="" class="w-[30px] h-[30px]" />
                    <img src="/images/linkedin.png" alt="" class="w-[30px] h-[30px]" />
                    <img src="/images/twitter.png" alt="" class="w-[30px] h-[30px]" />
                    <img src="/images/instagram.png" alt="" class="w-[30px] h-[30px]" />
                </div>
            </div>
        </div>
        <div class="flex lg:flex-row flex-col items-start lg:gap-32 gap-10">
            <div>
                <h1 class="text-[#fff] font-semibold leading-6 text-xl mb-8">More Links</h1>
                <ul class="flex flex-col gap-6">
                    <li><a href="/services" class="text-[#939393] font-medium">Service</a></li>
                    <li><a href="/about/profile" class="text-[#939393] font-medium">About</a></li>
                    <li><a href="/contact" class="text-[#939393] font-medium">Contact</a></li>
                </ul>
            </div>
            <div>
                <h1 class="text-[#fff] font-semibold leading-6 text-xl mb-8">Contact Info</h1>
                <ul class="flex flex-col gap-6">
                    <li class="flex items-start gap-2">
                        <svg class="mt-2" width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M4.24807 8.77271C4.24807 6.14935 6.37472 4.02271 8.99807 4.02271C11.6214 4.02271 13.7481 6.14935 13.7481 8.77271C13.7481 11.3961 11.6214 13.5227 8.99807 13.5227C6.37472 13.5227 4.24807 11.3961 4.24807 8.77271ZM8.99807 5.52271C7.20315 5.52271 5.74807 6.97778 5.74807 8.77271C5.74807 10.5676 7.20315 12.0227 8.99807 12.0227C10.793 12.0227 12.2481 10.5676 12.2481 8.77271C12.2481 6.97778 10.793 5.52271 8.99807 5.52271Z"
                                fill="#939393"
                            />
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M0.522435 7.62956C0.876762 3.33095 4.46891 0.0227051 8.7821 0.0227051H9.21404C13.5272 0.0227051 17.1194 3.33095 17.4737 7.62956C17.664 9.9387 16.9508 12.2316 15.4841 14.0253L10.691 19.8871C9.81605 20.9572 8.1801 20.9572 7.3051 19.8871L2.51204 14.0253C1.04538 12.2316 0.332096 9.9387 0.522435 7.62956ZM8.7821 1.52271C5.24957 1.52271 2.30756 4.23218 2.01737 7.75278C1.85895 9.67462 2.4526 11.5829 3.67326 13.0758L8.46632 18.9376C8.74115 19.2737 9.25499 19.2737 9.52983 18.9376L14.3229 13.0758C15.5436 11.5829 16.1372 9.67462 15.9788 7.75278C15.6886 4.23218 12.7466 1.52271 9.21404 1.52271H8.7821Z"
                                fill="#939393"
                            />
                        </svg>
                        <span class="text-[#939393] max-w-[284px]">NICON Plaza, Plot 242 Muhammadu Buhari Way, Central Business District, Abuja, Nigeria </span>
                    </li>
                    <li class="flex items-start gap-2">
                        <svg class="mt-2" width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M2.84194 7.62912C4.62925 11.521 7.80974 14.6152 11.7635 16.2918L11.776 16.2971L12.5398 16.6375C13.5124 17.0709 14.6557 16.7631 15.2793 15.9L16.5536 14.1363C16.6315 14.0285 16.6114 13.8787 16.508 13.7953L14.2832 12.0005C14.1726 11.9112 14.01 11.932 13.9254 12.0462L13.0595 13.2146C12.8492 13.4983 12.4695 13.5969 12.1477 13.4513C9.19133 12.1134 6.81562 9.73767 5.47769 6.78127C5.33208 6.45951 5.43067 6.07976 5.71442 5.86948L6.8828 5.00362C6.99697 4.91901 7.01775 4.75638 6.92853 4.64579L5.13348 2.42074C5.05006 2.31733 4.90031 2.29724 4.79258 2.37502L3.01928 3.65517C2.1505 4.28236 1.84454 5.43521 2.288 6.41066L2.84134 7.62782C2.84154 7.62825 2.84174 7.62869 2.84194 7.62912ZM11.1716 17.6701C6.87557 15.8465 3.42021 12.4835 1.47816 8.25371L1.47699 8.25116L0.922489 7.03145C0.183389 5.4057 0.693317 3.48429 2.1413 2.43898L3.91459 1.15882C4.66871 0.61441 5.71694 0.755015 6.30094 1.47891L8.09598 3.70395C8.72054 4.47812 8.57507 5.61652 7.77591 6.20876L7.1064 6.70491C8.23732 8.8993 10.0297 10.6917 12.2241 11.8226L12.7203 11.1531C13.3125 10.3539 14.4509 10.2085 15.2251 10.833L17.4498 12.6278C18.1739 13.212 18.3143 14.2606 17.7695 15.0147L16.4951 16.7785C15.4558 18.217 13.5504 18.7299 11.9293 18.0077L11.1716 17.6701Z"
                                fill="#939393"
                            />
                        </svg>
                        <span class="text-[#939393] max-w-[284px]">+234 706 430 5464</span>
                    </li>
                    <li class="flex items-start gap-2">
                        <svg class="mt-2" width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M4.85716 3.61232C4.62474 3.48717 4.34363 3.49342 4.117 3.62879C3.89037 3.76415 3.75159 4.00869 3.75159 4.27267V13.7727C3.75159 14.1869 4.08737 14.5227 4.50159 14.5227C4.9158 14.5227 5.25159 14.1869 5.25159 13.7727V5.52834L10.646 8.43303C10.868 8.55256 11.1352 8.55256 11.3572 8.43303L16.7516 5.52834V13.7727C16.7516 14.1869 17.0874 14.5227 17.5016 14.5227C17.9158 14.5227 18.2516 14.1869 18.2516 13.7727V4.27267C18.2516 4.00869 18.1128 3.76415 17.8862 3.62879C17.6595 3.49342 17.3784 3.48717 17.146 3.61232L11.0016 6.92086L4.85716 3.61232Z"
                                fill="#939393"
                            />
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M16.3122 0.49451C12.7788 0.178588 9.22435 0.178588 5.69101 0.49451L4.17367 0.630178C2.54606 0.775706 1.23098 2.01913 0.994593 3.63605C0.496594 7.04236 0.496594 10.503 0.994593 13.9093C1.23098 15.5262 2.54606 16.7696 4.17367 16.9152L5.69101 17.0508C9.22436 17.3668 12.7788 17.3668 16.3122 17.0508L17.8295 16.9152C19.4571 16.7696 20.7722 15.5262 21.0086 13.9093C21.5066 10.503 21.5066 7.04236 21.0086 3.63605C20.7722 2.01913 19.4571 0.775706 17.8295 0.630178L16.3122 0.49451ZM5.8246 1.98855C9.26906 1.68057 12.7341 1.68057 16.1786 1.98855L17.6959 2.12422C18.6321 2.20792 19.3884 2.92307 19.5244 3.85304C20.0013 7.11545 20.0013 10.4299 19.5244 13.6923C19.3884 14.6223 18.6321 15.3374 17.6959 15.4211L16.1786 15.5568C12.7341 15.8648 9.26906 15.8648 5.8246 15.5568L4.30726 15.4211C3.37114 15.3374 2.61478 14.6223 2.47881 13.6923C2.00185 10.4299 2.00185 7.11545 2.47881 3.85304C2.61478 2.92307 3.37114 2.20792 4.30726 2.12422L5.8246 1.98855Z"
                                fill="#939393"
                            />
                        </svg>

                        <span class="text-[#939393] max-w-[284px]">info@traz-intelligence-security.com</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
