<footer class="flex justify-center lg:py-32 py-24 bg-[#0C0C0C]">
    <div class="lg:w-[75%] w-[90%] flex lg:flex-row flex-col justify-between lg:items-center gap-16">
        <div>
            <img src="/images/logo.png" alt="" class="w-[97px] h-[93px]" />
            <p class="text-[#CECECE] max-w-[462px] my-4">TRAZ Intelligence and Security Solutions Limited is your trusted partner for innovative, comprehensive, and ethical security solutions.</p>
            <div>
                <span class="text-[#CECECE] inline-block mb-2">&copy; TRAZ Intelligence 2024</span>
                <div class="flex items-center gap-2 mt-2 lg:mt-0">
                    <a href="https://web.facebook.com/profile.php?id=61562166724128" target="_blank">
                        <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                class="links-path"
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M15.2727 0C6.83783 0 0 6.83783 0 15.2727C0 23.7076 6.83783 30.5455 15.2727 30.5455C23.7076 30.5455 30.5455 23.7076 30.5455 15.2727C30.5455 6.83783 23.7076 0 15.2727 0ZM16.8646 15.9436V24.2528H13.4266V15.9439H11.709V13.0805H13.4266V11.3614C13.4266 9.02542 14.3965 7.63637 17.152 7.63637H19.446V10.5001H18.0121C16.9394 10.5001 16.8685 10.9002 16.8685 11.6471L16.8646 13.0802H19.4622L19.1583 15.9436H16.8646Z"
                                fill="#535353"
                            />
                        </svg>
                    </a>
                    <a href="https://www.linkedin.com/company/104546074/" target="_blank">
                        <svg width="32" height="31" viewBox="0 0 32 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                class="links-path"
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M15.8196 0C7.38471 0 0.546875 6.83783 0.546875 15.2727C0.546875 23.7076 7.38471 30.5455 15.8196 30.5455C24.2545 30.5455 31.0923 23.7076 31.0923 15.2727C31.0923 6.83783 24.2545 0 15.8196 0ZM7.87876 12.6496H11.3399V23.0488H7.87876V12.6496ZM11.5677 9.43263C11.5453 8.41299 10.8161 7.63637 9.63208 7.63637C8.44805 7.63637 7.67397 8.41299 7.67397 9.43263C7.67397 10.4312 8.42517 11.2301 9.58715 11.2301H9.60927C10.8161 11.2301 11.5677 10.4312 11.5677 9.43263ZM19.8371 12.4053C22.1147 12.4053 23.8222 13.892 23.8222 17.0862L23.822 23.0488H20.361V17.4852C20.361 16.0877 19.8602 15.1341 18.6073 15.1341C17.651 15.1341 17.0815 15.777 16.8313 16.3979C16.7398 16.6204 16.7174 16.9305 16.7174 17.2413V23.0491H13.2558C13.2558 23.0491 13.3014 13.6256 13.2558 12.6498H16.7174V14.1228C17.1767 13.4147 17.9995 12.4053 19.8371 12.4053Z"
                                fill="#535353"
                            />
                        </svg>
                    </a>
                    <a href="https://medium.com/@TRAZlimited" target="_blank">
                        <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                class="links-path"
                                d="M0.0898438 15.2727C0.0898438 6.83659 6.92869 -0.0022583 15.3648 -0.0022583C23.801 -0.0022583 30.6398 6.83659 30.6398 15.2727C30.6398 23.7089 23.801 30.5477 15.3648 30.5477C6.92869 30.5477 0.0898438 23.7089 0.0898438 15.2727Z"
                                fill="#535353"
                            />
                            <path
                                class="links-path"
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M14.6353 8.59426C14.7772 8.59404 14.9299 8.59411 15.0946 8.59418L15.3661 8.59426C17.5413 8.59426 17.7991 8.60207 18.6581 8.6411C19.4524 8.67742 19.8835 8.81015 20.1707 8.92166C20.5509 9.06932 20.8219 9.24583 21.1069 9.53097C21.392 9.8161 21.5685 10.0877 21.7165 10.4678C21.828 10.7547 21.9609 11.1858 21.9971 11.9801C22.0361 12.8389 22.0446 13.0969 22.0446 15.271C22.0446 17.4452 22.0361 17.7032 21.9971 18.562C21.9608 19.3563 21.828 19.7874 21.7165 20.0742C21.5689 20.4544 21.392 20.7251 21.1069 21.0101C20.8217 21.2952 20.551 21.4717 20.1707 21.6194C19.8838 21.7314 19.4524 21.8638 18.6581 21.9001C17.7993 21.9391 17.5413 21.9476 15.3661 21.9476C13.1908 21.9476 12.933 21.9391 12.0742 21.9001C11.2799 21.8634 10.8488 21.7307 10.5614 21.6192C10.1812 21.4716 9.90968 21.295 9.62455 21.0099C9.33941 20.7248 9.1629 20.4539 9.0149 20.0735C8.90339 19.7867 8.77049 19.3556 8.73434 18.5613C8.69531 17.7025 8.6875 17.4445 8.6875 15.269C8.6875 13.0935 8.69531 12.8368 8.73434 11.978C8.77066 11.1837 8.90339 10.7526 9.0149 10.4655C9.16256 10.0853 9.33941 9.81373 9.62455 9.52859C9.90968 9.24345 10.1812 9.06694 10.5614 8.91894C10.8486 8.80692 11.2799 8.67454 12.0742 8.63805C12.8257 8.6041 13.117 8.59392 14.6353 8.59222V8.59426ZM19.7135 9.94694C19.1738 9.94694 18.7359 10.3843 18.7359 10.9242C18.7359 11.4639 19.1738 11.9018 19.7135 11.9018C20.2532 11.9018 20.6911 11.4639 20.6911 10.9242C20.6911 10.3845 20.2532 9.9466 19.7135 9.9466V9.94694ZM11.184 15.2728C11.184 12.9624 13.0571 11.0891 15.3675 11.0891C17.6779 11.0891 19.5507 12.9623 19.5507 15.2728C19.5507 17.5832 17.6781 19.4556 15.3677 19.4556C13.0572 19.4556 11.184 17.5832 11.184 15.2728Z"
                                fill="#535353"
                            />
                            <path
                                d="M18.9103 12.8449L19.5851 12.1994L19.5846 12.057H17.2517L15.589 16.2054L13.6974 12.0575H11.2504V12.1994L12.0389 13.1485C12.077 13.1828 12.1065 13.2257 12.125 13.2735C12.1434 13.3213 12.1503 13.3729 12.1452 13.4239V17.1551C12.1565 17.2214 12.152 17.2895 12.1322 17.3538C12.1124 17.4181 12.0777 17.4768 12.031 17.5253L11.1436 18.6011V18.7425H13.6577V18.6011L12.7708 17.5253C12.7237 17.4769 12.6883 17.4184 12.6671 17.3543C12.646 17.2901 12.6397 17.222 12.6488 17.1551V13.9286L14.8555 18.743H15.112L17.0072 13.9286V17.7661C17.0072 17.8677 17.0072 17.8875 16.9402 17.9546L16.258 18.6163V18.7577H19.5683V18.6163L18.9103 17.9703C18.8818 17.9485 18.8598 17.9194 18.8466 17.8861C18.8334 17.8529 18.8296 17.8166 18.8354 17.7813V13.0339C18.8296 12.9985 18.8334 12.9623 18.8466 12.929C18.8598 12.8957 18.8818 12.8666 18.9103 12.8449Z"
                                fill="black"
                            />
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M19.5917 7.90298C16.8048 7.5915 13.924 7.5915 11.137 7.90298C9.51944 8.08377 8.21356 9.35804 8.02339 10.984C7.69012 13.8335 7.69012 16.712 8.02339 19.5615C8.21356 21.1875 9.51944 22.4617 11.137 22.6425C13.924 22.954 16.8048 22.954 19.5917 22.6425C21.2093 22.4617 22.5152 21.1875 22.7054 19.5615C23.0386 16.712 23.0386 13.8335 22.7054 10.984C22.5152 9.35804 21.2093 8.08377 19.5917 7.90298ZM11.271 9.10144C13.9689 8.79991 16.7599 8.79991 19.4578 9.10144C20.5271 9.22096 21.3837 10.0648 21.5076 11.1241C21.83 13.8805 21.83 16.665 21.5076 19.4214C21.3837 20.4807 20.5271 21.3246 19.4578 21.4441C16.7599 21.7456 13.9689 21.7456 11.271 21.4441C10.2016 21.3246 9.34504 20.4807 9.22114 19.4214C8.89876 16.665 8.89876 13.8805 9.22114 11.1241C9.34504 10.0648 10.2016 9.22096 11.271 9.10144Z"
                                fill="black"
                            />
                        </svg>
                    </a>
                    <a href="https://www.instagram.com/trazlimited?igsh=ajQ3eDBmdzg0aHVn&utm_source=qr">
                        <svg width="32" height="31" viewBox="0 0 32 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                class="links-path"
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M15.9134 0C7.47846 0 0.640625 6.83783 0.640625 15.2727C0.640625 23.7076 7.47846 30.5455 15.9134 30.5455C24.3482 30.5455 31.1861 23.7076 31.1861 15.2727C31.1861 6.83783 24.3482 0 15.9134 0ZM12.5553 7.17646C13.4241 7.13692 13.7017 7.12724 15.9139 7.12724H15.9114C18.1243 7.12724 18.4009 7.13692 19.2697 7.17646C20.1369 7.21617 20.7291 7.35345 21.2484 7.55489C21.7847 7.76277 22.2378 8.04107 22.6909 8.49417C23.144 8.94693 23.4223 9.40138 23.631 9.93712C23.8312 10.455 23.9687 11.0469 24.0094 11.9141C24.0485 12.783 24.0586 13.0606 24.0586 15.2728C24.0586 17.485 24.0485 17.7619 24.0094 18.6308C23.9687 19.4976 23.8312 20.0897 23.631 20.6078C23.4223 21.1433 23.144 21.5978 22.6909 22.0506C22.2383 22.5037 21.7845 22.7826 21.2489 22.9907C20.7307 23.1921 20.1381 23.3294 19.2709 23.3691C18.4021 23.4087 18.1253 23.4183 15.9129 23.4183C13.7009 23.4183 13.4234 23.4087 12.5546 23.3691C11.6876 23.3294 11.0955 23.1921 10.5773 22.9907C10.0419 22.7826 9.5874 22.5037 9.13481 22.0506C8.68189 21.5978 8.40358 21.1433 8.19536 20.6076C7.9941 20.0897 7.85681 19.4978 7.81693 18.6306C7.77756 17.7618 7.76772 17.485 7.76772 15.2728C7.76772 13.0606 7.7779 12.7828 7.81676 11.9139C7.85579 11.0471 7.99325 10.455 8.19519 9.93695C8.40392 9.40138 8.68223 8.94693 9.13532 8.49417C9.58808 8.04124 10.0425 7.76294 10.5783 7.55489C11.0962 7.35345 11.6881 7.21617 12.5553 7.17646Z"
                                fill="#535353"
                            />
                            <path
                                class="links-path"
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M15.1852 8.59524C15.3271 8.59502 15.4797 8.59508 15.6444 8.59516L15.9159 8.59524C18.0908 8.59524 18.3486 8.60304 19.2074 8.64207C20.0016 8.67839 20.4326 8.81109 20.7198 8.92259C21.0999 9.07022 21.3709 9.24671 21.6558 9.5318C21.9409 9.8169 22.1174 10.0884 22.2654 10.4685C22.3769 10.7553 22.5097 11.1864 22.5459 11.9806C22.5849 12.8392 22.5934 13.0972 22.5934 15.271C22.5934 17.4449 22.5849 17.7028 22.5459 18.5615C22.5096 19.3557 22.3769 19.7867 22.2654 20.0735C22.1177 20.4536 21.9409 20.7243 21.6558 21.0092C21.3707 21.2943 21.1001 21.4708 20.7198 21.6184C20.433 21.7304 20.0016 21.8628 19.2074 21.8991C18.3487 21.9381 18.0908 21.9466 15.9159 21.9466C13.7409 21.9466 13.4831 21.9381 12.6244 21.8991C11.8303 21.8625 11.3992 21.7298 11.1119 21.6183C10.7318 21.4706 10.4603 21.2941 10.1752 21.009C9.89009 20.7239 9.71361 20.4531 9.56563 20.0728C9.45414 19.786 9.32126 19.355 9.28512 18.5608C9.24609 17.7021 9.23828 17.4442 9.23828 15.269C9.23828 13.0938 9.24609 12.8372 9.28512 11.9785C9.32143 11.1843 9.45414 10.7533 9.56563 10.4662C9.71327 10.086 9.89009 9.81452 10.1752 9.52943C10.4603 9.24433 10.7318 9.06785 11.1119 8.91987C11.3991 8.80787 11.8303 8.6755 12.6244 8.63902C13.3759 8.60508 13.6671 8.5949 15.1852 8.5932V8.59524ZM20.2639 9.94772C19.7242 9.94772 19.2864 10.385 19.2864 10.9248C19.2864 11.4645 19.7242 11.9023 20.2639 11.9023C20.8035 11.9023 21.2413 11.4645 21.2413 10.9248C21.2413 10.3852 20.8035 9.94738 20.2639 9.94738V9.94772ZM11.7328 15.2727C11.7328 12.9627 13.6057 11.0898 15.9157 11.0897C18.2258 11.0897 20.0983 12.9626 20.0983 15.2727C20.0983 17.5828 18.226 19.455 15.9159 19.455C13.6058 19.455 11.7328 17.5828 11.7328 15.2727Z"
                                fill="#535353"
                            />
                            <path
                                class="links-path"
                                d="M15.9144 12.5576C17.4139 12.5576 18.6296 13.7732 18.6296 15.2728C18.6296 16.7723 17.4139 17.988 15.9144 17.988C14.4148 17.988 13.1992 16.7723 13.1992 15.2728C13.1992 13.7732 14.4148 12.5576 15.9144 12.5576Z"
                                fill="#535353"
                            />
                        </svg>
                    </a>
                    <a href="https://x.com/TRAZlimited" target="_blank">
                        <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                class="links-path"
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M15.4602 0C7.02533 0 0.1875 6.83783 0.1875 15.2727C0.1875 23.7076 7.02533 30.5455 15.4602 30.5455C23.8951 30.5455 30.733 23.7076 30.733 15.2727C30.733 6.83783 23.8951 0 15.4602 0ZM15.0349 12.9424L15.0028 12.414C14.9067 11.0442 15.7506 9.79317 17.086 9.30784C17.5774 9.13528 18.4107 9.11371 18.9555 9.2647C19.1692 9.32941 19.5751 9.54511 19.8636 9.73925L20.387 10.0952L20.9639 9.91181C21.2844 9.81474 21.7117 9.65297 21.904 9.54511C22.0856 9.44805 22.2459 9.39412 22.2459 9.42648C22.2459 9.60983 21.8506 10.2354 21.5194 10.5805C21.0707 11.0658 21.1989 11.109 22.107 10.7854C22.6518 10.6021 22.6625 10.6021 22.5557 10.807C22.4916 10.9148 22.1604 11.2923 21.8079 11.6374C21.2096 12.2306 21.1776 12.2953 21.1776 12.7914C21.1776 13.5572 20.8143 15.1534 20.4511 16.027C19.7781 17.6663 18.3359 19.3596 16.8937 20.2116C14.8639 21.4087 12.1611 21.7107 9.88567 21.0097C9.12718 20.7724 7.82386 20.1685 7.82386 20.0606C7.82386 20.0282 8.21913 19.9851 8.69987 19.9743C9.70406 19.9528 10.7083 19.6723 11.5629 19.1762L12.1398 18.8311L11.4774 18.6046C10.5373 18.2811 9.69338 17.5369 9.47972 16.8359C9.41562 16.6094 9.43699 16.5986 10.0352 16.5986L10.6548 16.5878L10.1314 16.3397C9.51177 16.027 8.94557 15.4985 8.66782 14.9592C8.46484 14.571 8.20845 13.5895 8.28323 13.514C8.3046 13.4817 8.52894 13.5464 8.78533 13.6327C9.52245 13.9023 9.6186 13.8376 9.19128 13.3846C8.39006 12.5649 8.14435 11.3462 8.52894 10.1922L8.71055 9.67454L9.41562 10.3756C10.8578 11.7884 12.5564 12.6297 14.5007 12.8777L15.0349 12.9424Z"
                                fill="#535353"
                            />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="flex lg:flex-row flex-col items-start lg:gap-32 gap-10">
            <div>
                <h1 class="text-[#fff] font-semibold leading-6 text-xl mb-8">More Links</h1>
                <ul class="flex flex-col gap-6">
                    <li><a href="/services" class="text-[#939393] font-medium">Service</a></li>
                    <li><a href="/about/profile" class="text-[#939393] font-medium">About</a></li>
                    <li><a href="/contact" class="text-[#939393] font-medium">Contact</a></li>
                </ul>
            </div>
            <div>
                <h1 class="text-[#fff] font-semibold leading-6 text-xl mb-8">Contact Info</h1>
                <ul class="flex flex-col gap-6">
                    <li class="flex items-start gap-2">
                        <svg class="mt-1" width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M4.24807 8.77271C4.24807 6.14935 6.37472 4.02271 8.99807 4.02271C11.6214 4.02271 13.7481 6.14935 13.7481 8.77271C13.7481 11.3961 11.6214 13.5227 8.99807 13.5227C6.37472 13.5227 4.24807 11.3961 4.24807 8.77271ZM8.99807 5.52271C7.20315 5.52271 5.74807 6.97778 5.74807 8.77271C5.74807 10.5676 7.20315 12.0227 8.99807 12.0227C10.793 12.0227 12.2481 10.5676 12.2481 8.77271C12.2481 6.97778 10.793 5.52271 8.99807 5.52271Z"
                                fill="#939393"
                            />
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M0.522435 7.62956C0.876762 3.33095 4.46891 0.0227051 8.7821 0.0227051H9.21404C13.5272 0.0227051 17.1194 3.33095 17.4737 7.62956C17.664 9.9387 16.9508 12.2316 15.4841 14.0253L10.691 19.8871C9.81605 20.9572 8.1801 20.9572 7.3051 19.8871L2.51204 14.0253C1.04538 12.2316 0.332096 9.9387 0.522435 7.62956ZM8.7821 1.52271C5.24957 1.52271 2.30756 4.23218 2.01737 7.75278C1.85895 9.67462 2.4526 11.5829 3.67326 13.0758L8.46632 18.9376C8.74115 19.2737 9.25499 19.2737 9.52983 18.9376L14.3229 13.0758C15.5436 11.5829 16.1372 9.67462 15.9788 7.75278C15.6886 4.23218 12.7466 1.52271 9.21404 1.52271H8.7821Z"
                                fill="#939393"
                            />
                        </svg>
                        <span class="text-[#939393] max-w-[284px]">NICON Plaza, Plot 242 Muhammadu Buhari Way, Central Business District, Abuja, Nigeria</span>
                    </li>
                    <li class="flex items-start gap-2">
                        <svg class="mt-1" width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M2.84194 7.62912C4.62925 11.521 7.80974 14.6152 11.7635 16.2918L11.776 16.2971L12.5398 16.6375C13.5124 17.0709 14.6557 16.7631 15.2793 15.9L16.5536 14.1363C16.6315 14.0285 16.6114 13.8787 16.508 13.7953L14.2832 12.0005C14.1726 11.9112 14.01 11.932 13.9254 12.0462L13.0595 13.2146C12.8492 13.4983 12.4695 13.5969 12.1477 13.4513C9.19133 12.1134 6.81562 9.73767 5.47769 6.78127C5.33208 6.45951 5.43067 6.07976 5.71442 5.86948L6.8828 5.00362C6.99697 4.91901 7.01775 4.75638 6.92853 4.64579L5.13348 2.42074C5.05006 2.31733 4.90031 2.29724 4.79258 2.37502L3.01928 3.65517C2.1505 4.28236 1.84454 5.43521 2.288 6.41066L2.84134 7.62782C2.84154 7.62825 2.84174 7.62869 2.84194 7.62912ZM11.1716 17.6701C6.87557 15.8465 3.42021 12.4835 1.47816 8.25371L1.47699 8.25116L0.922489 7.03145C0.183389 5.4057 0.693317 3.48429 2.1413 2.43898L3.91459 1.15882C4.66871 0.61441 5.71694 0.755015 6.30094 1.47891L8.09598 3.70395C8.72054 4.47812 8.57507 5.61652 7.77591 6.20876L7.1064 6.70491C8.23732 8.8993 10.0297 10.6917 12.2241 11.8226L12.7203 11.1531C13.3125 10.3539 14.4509 10.2085 15.2251 10.833L17.4498 12.6278C18.1739 13.212 18.3143 14.2606 17.7695 15.0147L16.4951 16.7785C15.4558 18.217 13.5504 18.7299 11.9293 18.0077L11.1716 17.6701Z"
                                fill="#939393"
                            />
                        </svg>
                        <span class="text-[#939393] max-w-[284px]">+234 706 430 5464</span>
                    </li>
                    <li class="flex items-start gap-2">
                        <svg class="mt-1" width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M4.85716 3.61232C4.62474 3.48717 4.34363 3.49342 4.117 3.62879C3.89037 3.76415 3.75159 4.00869 3.75159 4.27267V13.7727C3.75159 14.1869 4.08737 14.5227 4.50159 14.5227C4.9158 14.5227 5.25159 14.1869 5.25159 13.7727V5.52834L10.646 8.43303C10.868 8.55256 11.1352 8.55256 11.3572 8.43303L16.7516 5.52834V13.7727C16.7516 14.1869 17.0874 14.5227 17.5016 14.5227C17.9158 14.5227 18.2516 14.1869 18.2516 13.7727V4.27267C18.2516 4.00869 18.1128 3.76415 17.8862 3.62879C17.6595 3.49342 17.3784 3.48717 17.146 3.61232L11.0016 6.92086L4.85716 3.61232Z"
                                fill="#939393"
                            />
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M16.3122 0.49451C12.7788 0.178588 9.22435 0.178588 5.69101 0.49451L4.17367 0.630178C2.54606 0.775706 1.23098 2.01913 0.994593 3.63605C0.496594 7.04236 0.496594 10.503 0.994593 13.9093C1.23098 15.5262 2.54606 16.7696 4.17367 16.9152L5.69101 17.0508C9.22436 17.3668 12.7788 17.3668 16.3122 17.0508L17.8295 16.9152C19.4571 16.7696 20.7722 15.5262 21.0086 13.9093C21.5066 10.503 21.5066 7.04236 21.0086 3.63605C20.7722 2.01913 19.4571 0.775706 17.8295 0.630178L16.3122 0.49451ZM5.8246 1.98855C9.26906 1.68057 12.7341 1.68057 16.1786 1.98855L17.6959 2.12422C18.6321 2.20792 19.3884 2.92307 19.5244 3.85304C20.0013 7.11545 20.0013 10.4299 19.5244 13.6923C19.3884 14.6223 18.6321 15.3374 17.6959 15.4211L16.1786 15.5568C12.7341 15.8648 9.26906 15.8648 5.8246 15.5568L4.30726 15.4211C3.37114 15.3374 2.61478 14.6223 2.47881 13.6923C2.00185 10.4299 2.00185 7.11545 2.47881 3.85304C2.61478 2.92307 3.37114 2.20792 4.30726 2.12422L5.8246 1.98855Z"
                                fill="#939393"
                            />
                        </svg>

                        <span class="text-[#939393] max-w-[284px]">info@traz-intelligence-security.com</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
