<% layout('/layouts/boilerplate') %>
<section class="bg-blackBg overflow-x-hidden flex justify-center md:py-40 py-12 border-b border-[#2B2929]">
    <div class="lg:w-[60%] w-[90%] flex lg:flex-row flex-col items-center justify-between gap-6">
        <h1 class="text-gold font-bold xl:text-5xl md:text-3xl text-2xl xl:leading-[73px] md:leading-[48px] leading-8 order-2 lg:order-1 text-center md:text-left">AFRICA SECURITY FORUM</h1>
        <img src="/images/ASF.png" alt="" class="lg:w-[300px] w-[200px] lg:h-[250px] h-[200px] rounded-[24px] order-1 lg:order-2" />
    </div>
</section>
<main class="flex justify-center md:py-32 py-24">
    <div class="lg:w-[75%] w-[90%] flex flex-col lg:gap-24 gap-20">
        <div class="text-center">
            <h1 class="text-gold md:text-3xl text-2xl font-bold mb-2">INTRODUCTION</h1>
            <p class="text-[#D9D9D9] font-medium md:text-lg md:leading-10 leading-8">
                The Africa Security Forum (ASF) is a professional association established in 2014 to unite security professionals, enthusiasts, and students in a shared mission to enhance safety and
                security across Africa and beyond. ASF provides a vibrant platform for collaboration, knowledge sharing, and professional growth, welcoming individuals from diverse backgrounds who are
                passionate about addressing security challenges on a global scale.
            </p>
        </div>
        <div class="text-center">
            <h1 class="text-gold md:text-3xl text-2xl font-bold mb-2">About Us</h1>
            <p class="text-[#D9D9D9] font-medium md:text-lg md:leading-10 leading-8">
                ASF serves as a dynamic network for active and retired security practitioners, students pursuing security-related studies, and individuals with an interest in global safety and
                security matters. Our mission is rooted in fostering strategic partnerships, professional development, and the development of practical solutions to tackle Africa’s security
                challenges.
            </p>
            <p class="text-[#D9D9D9] font-medium md:text-lg md:leading-10 leading-8 mt-2">
                With an emphasis on global engagement, ASF connects experts and allies from around the world, empowering them to share expertise, learn, and create impactful strategies for sustainable
                security solutions.
            </p>
        </div>
        <div class="text-center">
            <h1 class="text-gold md:text-3xl text-2xl font-bold mb-2">Mission</h1>
            <span class="text-gold text-sm font-medium mb-2">“Strategic Partnership and Engagement in Global Safety and Security.”</span>
            <p class="text-[#D9D9D9] font-medium md:text-lg md:leading-10 leading-8">
                ASF is dedicated to building bridges among security professionals and fostering global collaborations to ensure a safer and more secure future for Africa and the world.
            </p>
        </div>

        <div class="grid md:grid-cols-3 grid-cols-1 gap-6">
            <img src="/images/asf1.jpg" alt="" class="w-full h-[400px] rounded-[12px]" />
            <img src="/images/asf2.jpg" alt="" class="w-full h-[400px] object-cover rounded-[12px]" />
            <img src="/images/asf3.jpg" alt="" class="w-full h-[400px] rounded-[12px]" />
        </div>

        <div class="grid lg:grid-cols-2 grid-cols-1 gap-24 mt-4">
            <div class="flex flex-col gap-10">
                <div class="">
                    <h1 class="text-gold md:text-3xl text-2xl font-bold mb-3 text-center">Objectives</h1>
                    <p class="text-[#D9D9D9] font-medium md:leading-8 leading-7 text-sm md:text-base mb-3">ASF’s mission is guided by three key objectives:</p>
                    <ol class="list-decimal list-inside flex flex-col md:gap-6 gap-2">
                        <li class="text-[#D9D9D9] font-medium md:leading-8 leading-7 text-sm md:text-base">To provide a platform for exchanging ideas and deliberating on the security challenges confronting Africa.</li>
                        <li class="text-[#D9D9D9] font-medium md:leading-8 leading-7 text-sm md:text-base">To offer opportunities for self-improvement and empowerment on security-related topics.</li>
                        <li class="text-[#D9D9D9] font-medium md:leading-8 leading-7 text-sm md:text-base">To facilitate the identification and implementation of practical solutions to address critical security issues.</li>
                    </ol>
                </div>
                <div class="">
                    <h1 class="text-gold md:text-3xl text-2xl font-bold mb-3 text-center">Membership Structure</h1>
                    <p class="text-[#D9D9D9] font-medium md:leading-8 leading-7 text-sm md:text-base mb-3">ASF offers three membership categories to accommodate diverse participants:</p>
                    <ol class="list-decimal list-inside flex flex-col md:gap-6 gap-2">
                        <li class="text-[#D9D9D9] font-medium md:leading-8 leading-7 text-sm md:text-base">
                            Full Members - Open to serving or retired security practitioners residing in or outside Africa. These members contribute their expertise and professional experience to the
                            forum.
                        </li>
                        <li class="text-[#D9D9D9] font-medium md:leading-8 leading-7 text-sm md:text-base">
                            Associate Members - Open to individuals with an interest in security, regardless of formal experience. These members participate in discussions and gain knowledge from
                            others.
                        </li>
                        <li class="text-[#D9D9D9] font-medium md:leading-8 leading-7 text-sm md:text-base">
                            Friends of ASF - Open to non-African individuals who align with ASF’s mission and vision. Friends of ASF support global safety and security initiatives as allies of the
                            forum.
                        </li>
                    </ol>
                </div>
            </div>
            <div class="">
                <h1 class="text-gold md:text-3xl text-2xl font-bold mb-3 text-center">How to Get Involved</h1>
                <p class="text-[#D9D9D9] font-medium md:leading-8 leading-7 text-sm md:text-base mb-3">BOCE relies on the collective effort of compassionate individuals and organizations to drive its mission forward. </p>
                <p class="text-[#D9D9D9] font-medium md:leading-8 leading-7 text-sm md:text-base mb-3">Here’s how you can support us: </p>
                <ul class="list-disc list-inside flex flex-col md:gap-6 gap-2">
                    <li class="text-[#D9D9D9] font-medium md:leading-8 leading-7 text-sm md:text-base">Volunteer: Share your time, skills, or expertise to support our programs.</li>
                    <li class="text-[#D9D9D9] font-medium md:leading-8 leading-7 text-sm md:text-base">Donate: Contribute funds or resources to help us reach more lives in need.</li>
                    <li class="text-[#D9D9D9] font-medium md:leading-8 leading-7 text-sm md:text-base">Partner with Us: Collaborate with BOCE to expand the impact of our initiatives.</li>
                    <li class="text-[#D9D9D9] font-medium md:leading-8 leading-7 text-sm md:text-base">Advocate: Spread the word about our mission and programs to inspire action.</li>
                </ul>
                <p class="text-[#D9D9D9] font-medium md:leading-8 leading-7 text-sm md:text-base mt-4">
                    For inquiries, donations, or further information, please contact us at: <br />
                    <span class="my-3 inline-block"> Email: <small class="text-gold text-sm underline">bocentreforempowerment@outlook.com</small> </span> <br />
                    Together, we can transform lives and empower communities for a better tomorrow.
                </p>
            </div>
        </div>
    </div>
</main>
