<% layout('/layouts/boilerplate') %>
<section class="bg-blackBg overflow-x-hidden flex justify-center md:py-40 py-12 border-b border-[#2B2929]">
    <div class="lg:w-[60%] w-[90%] flex lg:flex-row flex-col items-center justify-between gap-6">
        <h1 class="text-gold font-bold xl:text-5xl md:text-3xl text-2xl xl:leading-[73px] md:leading-[48px] leading-8 order-2 lg:order-1 text-center md:text-left">Becky Olodo’s Centre for Empowerment</h1>
        <img src="/images/BOCE.png" alt="" class="lg:w-[300px] w-[200px] lg:h-[250px] h-[200px] rounded-[24px] order-1 lg:order-2" />
    </div>
</section>
<main class="flex justify-center md:py-32 py-24">
    <div class="lg:w-[75%] w-[90%] flex flex-col lg:gap-24 gap-20">
        <div class="text-center">
            <h1 class="text-gold md:text-3xl text-2xl font-bold mb-2">INTRODUCTION</h1>
            <p class="text-[#D9D9D9] font-medium md:text-lg md:leading-10 leading-8">
                Becky Olodo’s Centre for Empowerment and Charity Foundation (BOCE) is a registered charitable organization committed to creating impactful change in the lives of underprivileged
                individuals and communities. BOCE was officially incorporated in Nigeria on May 5, 2022, with registration number 179650, and in England and Wales on May 9, 2022, with registration
                number 14094639.
            </p>
        </div>
        <div class="text-center">
            <h1 class="text-gold md:text-3xl text-2xl font-bold mb-2">About Us</h1>
            <p class="text-[#D9D9D9] font-medium md:text-lg md:leading-10 leading-8">
                BOCE was founded on the belief that every individual deserves the chance to lead a life of dignity and opportunity. We strive to uplift marginalized communities by providing access to
                basic necessities, educational resources, and empowerment programs. Through our dedicated team and collaborative efforts, BOCE continues to serve as a beacon of hope and change for
                children, mothers, and families in both local and global communities.
            </p>
        </div>
        <div class="text-center">
            <h1 class="text-gold md:text-3xl text-2xl font-bold mb-2">Mission</h1>
            <p class="text-[#D9D9D9] font-medium md:text-lg md:leading-10 leading-8">
                At BOCE, our mission is to ensure that every child and mother can thrive, regardless of their ethnic, racial, or religious backgrounds. We are dedicated to fostering equity, dignity,
                and empowerment by providing comprehensive support and advocacy to those who need it the most.
            </p>
        </div>
        <div class="grid md:grid-cols-3 grid-cols-1 gap-6">
            <img src="/images/boce1.jpg" alt="" class="w-full md:h-[400px] h-[450px] rounded-[12px]" />
            <img src="/images/boce2.jpg" alt="" class="w-full h-[400px] rounded-[12px]" />
            <img src="/images/boce3.jpg" alt="" class="w-full h-[400px] rounded-[12px]" />
        </div>
        <div class="grid lg:grid-cols-2 grid-cols-1 gap-24 mt-4">
            <div class="">
                <h1 class="text-gold md:text-3xl text-2xl font-bold mb-3 text-center">Objectives</h1>
                <p class="text-[#D9D9D9] font-medium md:leading-8 leading-7 text-sm md:text-base mb-3">BOCE’s work is guided by the following objectives:</p>
                <ul class="list-disc list-inside flex flex-col md:gap-6 gap-2">
                    <li class="text-[#D9D9D9] font-medium md:leading-8 leading-7 text-sm md:text-base">Providing nourishment for undernourished and hungry children.</li>
                    <li class="text-[#D9D9D9] font-medium md:leading-8 leading-7 text-sm md:text-base">Supporting mothers through tailored programs and initiatives.</li>
                    <li class="text-[#D9D9D9] font-medium md:leading-8 leading-7 text-sm md:text-base">Advocating for access to quality education for all children.</li>
                    <li class="text-[#D9D9D9] font-medium md:leading-8 leading-7 text-sm md:text-base">Empowering individuals in the diaspora through networking and empowerment opportunities.</li>
                </ul>
            </div>

            <div class="">
                <h1 class="text-gold md:text-3xl text-2xl font-bold mb-3 text-center">How to Get Involved</h1>
                <p class="text-[#D9D9D9] font-medium md:leading-8 leading-7 text-sm md:text-base mb-3">BOCE relies on the collective effort of compassionate individuals and organizations to drive its mission forward. </p>
                <p class="text-[#D9D9D9] font-medium md:leading-8 leading-7 text-sm md:text-base mb-3">Here’s how you can support us: </p>
                <ul class="list-disc list-inside flex flex-col md:gap-6 gap-2">
                    <li class="text-[#D9D9D9] font-medium md:leading-8 leading-7 text-sm md:text-base">Volunteer: Share your time, skills, or expertise to support our programs.</li>
                    <li class="text-[#D9D9D9] font-medium md:leading-8 leading-7 text-sm md:text-base">Donate: Contribute funds or resources to help us reach more lives in need.</li>
                    <li class="text-[#D9D9D9] font-medium md:leading-8 leading-7 text-sm md:text-base">Partner with Us: Collaborate with BOCE to expand the impact of our initiatives.</li>
                    <li class="text-[#D9D9D9] font-medium md:leading-8 leading-7 text-sm md:text-base">Advocate: Spread the word about our mission and programs to inspire action.</li>
                </ul>
                <p class="text-[#D9D9D9] font-medium md:leading-8 leading-7 text-sm md:text-base mt-4">
                    For inquiries, donations, or further information, please contact us at: <br />
                    <span class="my-3 inline-block"> Email: <small class="text-gold text-sm underline">bocentreforempowerment@outlook.com</small> </span> <br />
                    Together, we can transform lives and empower communities for a better tomorrow.
                </p>             
            </div>
        </div>
    </div>
</main>
