<% layout('./layouts/boilerplate') %>
<section class="highlightHero md:py-72 py-60 bg-blackBg text-center overflow-x-hidden">
    <h1 class="text-gold font-bold lg:text-[80px] text-4xl lg:leading-[97px] leading-[48px]">OUR HIGHLIGHTS</h1>
</section>
<section class="bg-blackBg flex justify-center py-32 overflow-x-hidden">
    <div class="lg:w-[75%] w-[90%]">
        <div class="hidden w-full md:flex flex-col gap-6">
            <div class="w-full grid md:grid-cols-[1fr_65%] grid-cols-1 gap-6">
                <div class="overflow-hidden h-[400px] rounded-[12px]">
                    <img src="/images/highlights/five.png" alt="" class="highlights w-full h-full object-cover" />
                </div>
                <div class="overflow-hidden h-[400px] rounded-[12px]">
                    <img src="/images/highlights/six.png" alt="" class="highlights w-full h-full object-cover" />
                </div>
            </div>
            <div class="grid md:grid-cols-[1fr_1fr_1fr_20%] grid-cols-1 gap-6">
                <div class="overflow-hidden h-[400px] rounded-[12px]">
                    <img src="/images/highlights/seven.png" alt="" class="highlights w-full h-full object-cover" />
                </div>
                <div class="overflow-hidden h-[400px] rounded-[12px]">
                    <img src="/images/highlights/eight.png" alt="" class="highlights w-full h-full object-cover" />
                </div>
                <div class="overflow-hidden h-[400px] rounded-[12px]">
                    <img src="/images/highlights/eleven.png" alt="" class="highlights w-full h-full object-cover" />
                </div>
                <div class="overflow-hidden h-[400px] rounded-[12px]">
                    <img src="/images/highlights/twelve.png" alt="" class="highlights w-full h-full object-cover" />
                </div>
            </div>
            <div class="grid md:grid-cols-[1fr_25%] grid-cols-1 gap-6">
                <div class="overflow-hidden h-[400px] rounded-[12px]">
                    <img src="/images/highlights/nine.png" alt="" class="highlights w-full h-full object-cover" />
                </div>
                <div class="overflow-hidden h-[400px] rounded-[12px]">
                    <img src="/images/highlights/ten.png" alt="" class="highlights w-full h-full object-cover" />
                </div>
            </div>
        </div>
        <div class="md:hidden w-full flex flex-col gap-6">
            <div class="overflow-hidden h-[400px] rounded-[12px]">
                <img src="/images/highlights/small1.png" alt="" class="lg:highlights w-full h-full object-cover" />
            </div>
            <div class="overflow-hidden h-[400px] rounded-[12px]">
                <img src="/images/highlights/small2.png" alt="" class="lg:highlights w-full h-full object-cover" />
            </div>
            <div class="overflow-hidden h-[400px] rounded-[12px]">
                <img src="/images/highlights/seven.png" alt="" class="lg:highlights w-full h-full object-cover" />
            </div>
            <div class="overflow-hidden h-[400px] rounded-[12px]">
                <img src="/images/highlights/eight.png" alt="" class="lg:highlights w-full h-full object-cover" />
            </div>
            <div class="overflow-hidden h-[400px] rounded-[12px]">
                <img src="/images/highlights/eleven.png" alt="" class="lg:highlights w-full h-full object-cover" />
            </div>
            <div class="overflow-hidden h-[400px] rounded-[12px]">
                <img src="/images/highlights/twelve.png" alt="" class="lg:highlights w-full h-full object-cover" />
            </div>
            <div class="overflow-hidden h-[400px] rounded-[12px]">
                <img src="/images/highlights/nine.png" alt="" class="lg:highlights w-full h-full object-cover" />
            </div>
            <div class="overflow-hidden h-[400px] rounded-[12px]">
                <img src="/images/highlights/ten.png" alt="" class="lg:highlights w-full h-full object-cover" />
            </div>
        </div>
    </div>
</section>
