<% layout('/layouts/boilerplate') %>
<section class="productHero md:py-72 py-60 bg-blackBg text-center overflow-x-hidden">
    <h1 class="text-gold font-bold lg:text-[80px] text-4xl lg:leading-[97px] leading-[48px]">OUR PRODUCTS</h1>
</section>
<section class="bg-blackBg flex justify-center lg:py-32 py-16 overflow-x-hidden">
    <div class="lg:w-[75%] w-[90%] text-center">
        <h1 class="text-gold font-bold lg:text-3xl text-2xl leading-10">OUR UNIQUE PRODUCTS</h1>
        <p class="text-[#D9D9D9] text-sm font-medium leading-8 mx-auto max-w-[54rem] my-2">
            We provide a range of top-tier products designed to help clients mitigate risks, enhance security, and ensure resilience in an increasingly uncertain world.
        </p>
        <div class="grid md:grid-cols-2 grid-cols-1 gap-10 my-8">
            <div class="bg-[#1A191980] p-8 text-left rounded-[12px]">
                <h1 class="text-gold font-bold leaing-8 mb-4">Access Control Systems</h1>
                <p class="text-[#B4B4B4] text-sm font-medium leading-8">
                    Restrict and Manage Access with Advanced Solutions: Access control is key to protecting physical and digital assets. We implement cutting-edge access control solutions that
                    restrict unauthorized entry and ensure that sensitive areas are accessible only to trusted personnel. From smart card systems to biometric solutions, we offer a wide range of
                    access control technologies to meet the unique needs of your organization. <br />
                    Our Solutions Includes:
                </p>
                <ul class="list-disc pl-6">
                    <li class="text-[#B4B4B4] text-sm font-medium leading-8">Biometric access control systems.</li>
                    <li class="text-[#B4B4B4] text-sm font-medium leading-8">Smart card and key fob solutions.</li>
                    <li class="text-[#B4B4B4] text-sm font-medium leading-8">Integrated digital and physical access management.</li>
                </ul>
            </div>
            <div class="bg-[#1A191980] p-8 text-left rounded-[12px]">
                <h1 class="text-gold font-bold leaing-8 mb-4">Intelligence and Threat Mapping Software</h1>
                <p class="text-[#B4B4B4] text-sm font-medium leading-8">
                    We provide software tools that utilize artificial intelligence and advanced analytics to understand and visualize the threat landscape. Geo-Intelligence Solution (GIS): Our GIS
                    mapping tool is designed to help our clients visualize potential security threats, using geospatial data, allowing clients to plan effectively and mitigate risks before they
                    materialize. Predictive Threat Analysis Software (PTAS): Our PTAS tool, uses machine learning to predict potential security threats based on historical data, helping organizations
                    take preventive measures in advance.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="bg-blackBg flex justify-center lg:py-16 py-16 overflow-x-hidden">
    <div class="lg:w-[65%] w-[90%] text-center">
        <div class="flex items-center justify-between">
            <div class="sort-btns flex items-center gap-2">
                <button class="active text-gold font-semibold py-2 px-4 rounded-[24px] border border-gold">All</button>
                <button class="text-gold font-semibold py-2 px-4 rounded-[24px] border border-gold">Free</button>
                <button class="text-gold font-semibold py-2 px-4 rounded-[24px] border border-gold">Paid</button>
            </div>
            <select name="" id="" class="text-gold font-semibold py-2 md:px-4 px-2 rounded-[24px] border border-gold bg-[#000] focus:outline-none">
                <option value="">All</option>
                <option value="">E-books</option>
                <option value="">Articles</option>
                <option value="">Reports</option>
            </select>
        </div>
        <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-10 mt-10">
            <div class="md:min-h-[564px] min-h-[600px] rounded-[12px] overflow-hidden flex flex-col">
                <div class="relative bg-[#000] h-[80%]">
                    <img src="/images/coverPhoto/coverphoto1.png" alt="" class="h-full w-full object-fill"/>
                    <span class="absolute top-[1rem] left-[1rem] text-gold font-semibold py-2 px-6 rounded-[24px] border border-gold">Free</span>
                </div>
                <div class="bg-[#121212] p-4 w-full overflow-hidden h-[20%]">
                    <h1 class="text-[#fff] font-semibold mb-3">Estate security mapping & management</h1>
                    <button class="text-gold font-semibold py-2.5 w-full rounded-[24px] border border-gold transition-all hover:text-black hover:bg-gold hover:rounded-[8px]">Download</button>
                </div>
            </div>
            <div class="md:min-h-[564px] min-h-[600px] rounded-[12px] overflow-hidden flex flex-col">
                <div class="relative bg-[#000] h-[80%]">
                    <img src="/images/coverPhoto/coverphoto2.png" alt="" class="h-full w-full object-fill"/>
                    <span class="absolute top-[1rem] left-[1rem] text-gold font-semibold py-2 px-6 rounded-[24px] border border-gold">Free</span>
                </div>
                <div class="bg-[#121212] p-4 w-full overflow-hidden h-[20%]">
                    <h1 class="text-[#fff] font-semibold mb-3">Estate security mapping & management</h1>
                    <button class="text-gold font-semibold py-2.5 w-full rounded-[24px] border border-gold transition-all hover:text-black hover:bg-gold hover:rounded-[8px]">Download</button>
                </div>
            </div>
            <div class="md:min-h-[564px] min-h-[600px] rounded-[12px] overflow-hidden flex flex-col">
                <div class="relative bg-[#000] h-[80%]">
                    <img src="/images/coverPhoto/coverphoto3.png" alt="" class="h-full w-full object-fill"/>
                    <span class="absolute top-[1rem] left-[1rem] text-gold font-semibold py-2 px-6 rounded-[24px] border border-gold">Free</span>
                </div>
                <div class="bg-[#121212] p-4 w-full overflow-hidden h-[20%]">
                    <h1 class="text-[#fff] font-semibold mb-3">ABC of business security</h1>
                    <button class="text-gold font-semibold py-2.5 w-full rounded-[24px] border border-gold transition-all hover:text-black hover:bg-gold hover:rounded-[8px]">Download</button>
                </div>
            </div>
            <div class="md:min-h-[564px] min-h-[600px] rounded-[12px] overflow-hidden flex flex-col">
                <div class="relative bg-[#000] h-[80%]">
                    <img src="/images/coverPhoto/coverphoto4.png" alt="" class="h-full w-full object-fill"/>
                    <span class="absolute top-[1rem] left-[1rem] text-gold font-semibold py-2 px-6 rounded-[24px] border border-gold">Free</span>
                </div>
                <div class="bg-[#121212] p-4 w-full overflow-hidden h-[20%]">
                    <h1 class="text-[#fff] font-semibold mb-3">Estate security mapping & management</h1>
                    <button class="text-gold font-semibold py-2.5 w-full rounded-[24px] border border-gold transition-all hover:text-black hover:bg-gold hover:rounded-[8px]">Download</button>
                </div>
            </div>
            <div class="md:min-h-[564px] min-h-[600px] rounded-[12px] overflow-hidden flex flex-col">
                <div class="relative bg-[#000] h-[80%]">
                    <img src="/images/coverPhoto/coverphoto5.png" alt="" class="h-full w-full object-fill"/>
                    <span class="absolute top-[1rem] left-[1rem] text-gold font-semibold py-2 px-6 rounded-[24px] border border-gold">Free</span>
                </div>
                <div class="bg-[#121212] p-4 w-full overflow-hidden h-[20%]">
                    <h1 class="text-[#fff] font-semibold mb-3">Estate security mapping & management</h1>
                    <button class="text-gold font-semibold py-2.5 w-full rounded-[24px] border border-gold transition-all hover:text-black hover:bg-gold hover:rounded-[8px]">Download</button>
                </div>
            </div>
        </div>
    </div>
</section>
