<% layout('./layouts/boilerplate') %>
<section class="profileHero md:py-72 py-40 bg-blackBg text-center overflow-x-hidden">
    <h1 class="text-gold font-bold lg:text-[80px] text-4xl lg:leading-[97px] leading-[48px]">TRAZ PROFILE</h1>
</section>
<section class="bg-blackBg flex justify-center py-32 overflow-x-hidden">
    <div class="lg:w-[75%] w-[90%]">
        <div class="grid md:grid-cols-2 grid-cols-1 gap-16 lg:mb-40 mb-24">
            <div id="whoText" class="hide flex flex-col justify-center order-2 lg:order-1">
                <h1 class="text-gold font-bold text-3xl leading-10 mb-4">WHO ARE WE?</h1>
                <p class="text-[#B4B4B4] font-medium text-sm leading-8">
                    TRAZ Intelligence and Security Solutions Limited is a leading security organization in Africa with our headquarters located in Abuja, Nigeria. At TRAZ, we are renowned for our
                    proactive approach and global expertise, ensuring our clients receive advanced security measures aligned with international standards.
                </p>
                <p class="text-[#B4B4B4] font-medium text-sm leading-8 my-4">
                    With our cutting-edge technologies, we have successfully expanded our services to over 3,000 clients across Africa, Europe, and America. With our team of experts recruited across
                    the globe, we offer specialized bespoke security services. Each solution is designed to meet the dynamic threats and challenges of a constantly evolving security landscape.
                </p>
                <p class="text-[#B4B4B4] font-medium text-sm leading-8">
                    Our comprehensive and innovative solutions, with strong emphasis on integrity and client satisfaction, we continue to lead in shaping the future of security in Africa and across
                    the globe.
                </p>
            </div>
            <div id="whoImage" class="hide h-[468px] overflow-hidden rounded-[12px] order-1 lg:order-2">
                <img src="/images/profile/one.png" alt="" class="w-full h-full object-cover" />
            </div>
        </div>
        <div id="trazProfile" class="hide text-center">
            <h1 class="text-gold font-bold text-3xl leading-10">TRAZ PROFILE</h1>
            <p class="text-[#B4B4B4] font-medium text-sm leading-8 mx-auto max-w-[75rem] my-4">
                TRAZ Intelligence and Security Solutions Limited, founded in 2015 and incorporated in Nigeria in 2020. A globally recognized organization dedicated to providing proactive, innovative,
                and effective security solutions. With a global perspective, we leverage advanced technology and an in-depth understanding of security dynamics to help our clients stay ahead of
                emerging threats. Our comprehensive range of services span cybersecurity, physical security, crisis management, bespoke consulting, and training, tailored to meet the diverse needs of
                our clients.
            </p>
            <div class="flex md:flex-row flex-col md:items-start items-center gap-16 justify-between mx-auto max-w-[55rem] my-10">
                <div class="flex flex-col items-center">
                    <div class="bg-[#2D2C2B] rounded-[50%] flex justify-center items-center w-[120px] h-[120px] mb-2">
                        <svg width="26" height="35" viewBox="0 0 26 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M12.9987 3.25C7.20532 3.25 2.58203 7.77878 2.58203 13.2766C2.58203 16.6176 3.95024 19.4989 6.39093 21.2934C6.92886 21.6889 7.38905 22.2787 7.5653 23.027C7.70995 23.6412 7.8755 24.3895 8.03948 25.1826H17.9579C18.1219 24.3895 18.2874 23.6412 18.4321 23.027C18.6083 22.2787 19.0685 21.6889 19.6065 21.2934C22.0472 19.4989 23.4154 16.6176 23.4154 13.2766C23.4154 7.77878 18.7921 3.25 12.9987 3.25ZM17.4799 27.6826H8.5175C8.70152 28.7452 8.84588 29.7516 8.88959 30.474C8.93561 31.2347 9.50413 31.9164 10.3424 32.0975L10.669 32.1681C12.2031 32.4995 13.7943 32.4995 15.3284 32.1681L15.655 32.0975C16.4933 31.9164 17.0618 31.2347 17.1078 30.474C17.1515 29.7516 17.2959 28.7452 17.4799 27.6826ZM0.0820312 13.2766C0.0820312 6.3186 5.90543 0.75 12.9987 0.75C20.092 0.75 25.9154 6.3186 25.9154 13.2766C25.9154 17.3163 24.2428 20.9876 21.0874 23.3076C20.9434 23.4134 20.8833 23.5247 20.8655 23.6002C20.6682 24.4379 20.4279 25.5466 20.2087 26.6716C19.9041 28.2353 19.6561 29.7521 19.6032 30.625C19.4865 32.5553 18.0664 34.1342 16.183 34.5411L15.8563 34.6117C13.9743 35.0183 12.0231 35.0183 10.1411 34.6117L9.81443 34.5411C7.93105 34.1342 6.51094 32.5553 6.39415 30.625C6.34134 29.7521 6.09332 28.2353 5.78869 26.6716C5.56953 25.5466 5.3292 24.4379 5.13189 23.6002C5.11412 23.5247 5.05395 23.4134 4.91004 23.3076C1.75465 20.9876 0.0820312 17.3163 0.0820312 13.2766Z"
                                fill="#E8BA53"
                            />
                        </svg>
                    </div>
                    <span class="text-[#D9D9D9] font-semibold">Innovative</span>
                </div>
                <div class="flex flex-col items-center">
                    <div class="bg-[#2D2C2B] rounded-[50%] flex justify-center items-center w-[120px] h-[120px] mb-2">
                        <svg width="26" height="29" viewBox="0 0 26 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M14.0734 3.77291C13.4122 3.3748 12.5852 3.3748 11.924 3.77291L11.0635 4.29107C8.76145 5.67725 6.17708 6.52785 3.50175 6.77991L2.95962 6.83098C2.74559 6.85115 2.58203 7.03084 2.58203 7.24581V9.98563C2.58203 14.1649 4.27874 18.165 7.28349 21.0698L12.7091 26.3148C12.8706 26.4709 13.1268 26.4709 13.2883 26.3148L18.7139 21.0698C21.7186 18.165 23.4154 14.1649 23.4154 9.98562V7.24581C23.4154 7.03083 23.2518 6.85115 23.0378 6.83098L22.4956 6.77991C19.8203 6.52785 17.2359 5.67724 14.9339 4.29107L14.0734 3.77291ZM10.6344 1.63121C12.0889 0.755365 13.9085 0.755364 15.363 1.63121L16.2235 2.14937C18.2043 3.34213 20.4281 4.07405 22.7301 4.29093L23.2723 4.34201C24.7705 4.48316 25.9154 5.74097 25.9154 7.24581V9.98562C25.9154 14.8426 23.9435 19.4914 20.4515 22.8672L15.0259 28.1122C13.8954 29.2051 12.102 29.2051 10.9715 28.1122L5.54589 22.8672C2.05389 19.4914 0.0820312 14.8426 0.0820312 9.98563V7.24581C0.0820312 5.74097 1.22691 4.48316 2.72512 4.34201L3.26725 4.29093C5.56928 4.07405 7.79305 3.34213 9.77388 2.14937L10.6344 1.63121Z"
                                fill="#E8BA53"
                            />
                        </svg>
                    </div>
                    <span class="text-[#D9D9D9] font-semibold max-w-[15rem]">Globally Respected Security Solutions Provider</span>
                </div>
                <div class="flex flex-col items-center">
                    <div class="bg-[#2D2C2B] rounded-[50%] flex justify-center items-center w-[120px] h-[120px] mb-2">
                        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M22.917 13.3333C22.917 14.0237 22.3573 14.5833 21.667 14.5833H8.33366C7.6433 14.5833 7.08366 14.0237 7.08366 13.3333C7.08366 12.643 7.6433 12.0833 8.33366 12.0833H21.667C22.3573 12.0833 22.917 12.643 22.917 13.3333Z"
                                fill="#E8BA53"
                            />
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M2.30963 8.57782L4.29084 3.16517C4.79014 1.80109 6.00112 0.823645 7.43984 0.623433C12.456 -0.074621 17.5447 -0.0746225 22.5609 0.623431C23.9997 0.823645 25.2106 1.80111 25.7099 3.1652L27.6913 8.57834C28.0618 9.15648 28.3171 9.81737 28.4242 10.5298L28.5941 11.6596C29.2604 16.0906 29.1981 20.6008 28.4097 25.0117C28.0601 26.9672 26.4542 28.4526 24.4774 28.6488L22.4266 28.8524C17.4879 29.3426 12.5127 29.3426 7.57394 28.8524L5.52317 28.6488C3.54637 28.4526 1.94044 26.9672 1.5909 25.0117C0.802443 20.6008 0.740146 16.0906 1.40647 11.6596L1.57635 10.5298C1.68352 9.81715 1.93889 9.15608 2.30963 8.57782ZM7.78442 3.09957C12.572 2.43333 17.4288 2.43333 22.2163 3.09957C22.7399 3.17243 23.1806 3.52812 23.3623 4.02451L24.2059 6.32948C24.1303 6.31847 24.0542 6.30914 23.9776 6.30154L22.3473 6.13972C17.4613 5.65477 12.5393 5.65477 7.65331 6.13972L6.02299 6.30154C5.94642 6.30914 5.87035 6.31845 5.79482 6.32945L6.63851 4.0245C6.82021 3.52812 7.26087 3.17243 7.78442 3.09957ZM4.47642 9.83496L4.50752 9.84635L4.54611 9.74093C4.95568 9.2145 5.57087 8.8587 6.26991 8.78931L7.90023 8.6275C12.622 8.15885 17.3786 8.15884 22.1003 8.6275L23.7307 8.78931C24.4298 8.85871 25.0451 9.21465 25.4547 9.74127L25.4932 9.84634L25.5242 9.835C25.7427 10.1448 25.8927 10.5074 25.952 10.9016L26.1219 12.0313C26.7477 16.193 26.6892 20.429 25.9487 24.5718C25.7959 25.4263 25.0942 26.0753 24.2305 26.161L22.1797 26.3646C17.4052 26.8385 12.5954 26.8385 7.82086 26.3646L5.77009 26.161C4.90633 26.0753 4.20462 25.4263 4.05189 24.5718C3.31137 20.429 3.25286 16.193 3.87867 12.0313L4.04856 10.9016C4.10784 10.5074 4.25788 10.1448 4.47642 9.83496Z"
                                fill="#E8BA53"
                            />
                        </svg>
                    </div>
                    <span class="text-[#D9D9D9] font-semibold">Client-Centric</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-blackBg flex justify-center py-8 overflow-x-hidden">
    <div class="lg:w-[75%] w-[90%] text-center">
        <h1 class="text-gold font-bold text-3xl leading-10 mb-8">KEY ATTRIBUTES</h1>
        <div class="w-full grid grid-cols-1 gap-24">
            <div class="grid lg:grid-cols-2 grid-cols-1 lg:gap-24 gap-10">
                <div class="left hide flex flex-col justify-center lg:gap-10 gap-8 order-2 lg:order-1">
                    <div class="text-left">
                        <h1 class="text-gold font-bold text-xl leading-8">Innovative Approach:</h1>
                        <p class="text-[#B4B4B4] font-medium text-sm leading-8">
                            At TRAZ, innovation is at the core of everything we do. Our team is at the forefront of integrating advanced technologies such as Artificial Intelligence (AI), Machine
                            Learning (ML), and biometrics into our security solutions. These technologies allow us to provide proactive and effective security measures that anticipate threats before
                            they materialize, giving our clients a strategic edge in maintaining safety and stability.
                        </p>
                    </div>
                    <div class="text-left">
                        <h1 class="text-gold font-bold text-xl leading-8">Comprehensive Services:</h1>
                        <p class="text-[#B4B4B4] font-medium text-sm leading-8">
                            We offer a full suite of security services, including threat assessments, risk management, cybersecurity solutions, physical security, crisis management, and bespoke
                            security consulting. Our diverse service offering ensures that we can meet the unique security needs of clients across various industries, from finance to healthcare and
                            government institutions.
                        </p>
                    </div>
                    <div class="text-left">
                        <h1 class="text-gold font-bold text-xl leading-8">International Expertise:</h1>
                        <p class="text-[#B4B4B4] font-medium text-sm leading-8">
                            Our team comprises highly skilled professionals with a wealth of over 300 years of combined experience in different aspects of security management. Through strategic
                            partnerships worldwide, TRAZ is able to apply international best practices to our local operations, providing our clients with world-class security solutions customized for
                            their environment.
                        </p>
                    </div>
                </div>
                <div class="right hide lg:h-[659px] h-[500px] overflow-hidden rounded-[12px] max-w-[659px] order-1 lg:order-2">
                    <img src="/images/profile/two.png" alt="" class="w-full h-full object-cover" />
                </div>
            </div>
            <div class="grid lg:grid-cols-2 grid-cols-1 lg:gap-24 gap-10">
                <div class="left hide lg:h-[659px] h-[500px] overflow-hidden rounded-[12px] max-w-[659px]">
                    <img src="/images/profile/three.png" alt="" class="w-full h-full object-cover" />
                </div>
                <div class="right hide flex flex-col justify-center lg:gap-10 gap-8">
                    <div class="text-left">
                        <h1 class="text-gold font-bold text-xl leading-8">Client-Centric Approach:</h1>
                        <p class="text-[#B4B4B4] font-medium text-sm leading-8">
                            Client satisfaction and operational excellence are our top priorities. We focus on understanding our clients' unique challenges and objectives, allowing us to develop
                            tailored security strategies that align seamlessly with their operational environment. TRAZ's proactive and responsive approach sets us apart, ensuring we not only address
                            immediate concerns but also prepare our clients for future challenges.
                        </p>
                    </div>
                    <div class="text-left">
                        <h1 class="text-gold font-bold text-xl leading-8">Ethical Standards:</h1>
                        <p class="text-[#B4B4B4] font-medium text-sm leading-8">
                            Integrity, transparency, and professionalism are the guiding principles of our operations. At TRAZ, we uphold the highest ethical standards in all our dealings, ensuring
                            our clients can trust us with their most sensitive security challenges. Our commitment to ethical practices has earned us a reputation for reliability and trustworthiness
                            in the industry.
                        </p>
                    </div>
                    <div class="text-left">
                        <h1 class="text-gold font-bold text-xl leading-8">Global Reach:</h1>
                        <p class="text-[#B4B4B4] font-medium text-sm leading-8">
                            While our headquarters are in Nigeria, TRAZ Intelligence and Security Solutions Limited maintains a global outlook. We collaborate with international partners, participate
                            in global security initiatives, and adapt best practices from around the world to local contexts across Africa. This global reach allows us to offer cutting-edge solutions
                            and maintain a robust understanding of security trends that impact our clients.
                        </p>
                    </div>
                </div>
            </div>
            <div class="grid lg:grid-cols-2 grid-cols-1 lg:gap-24 gap-10">
                <div class="left hide flex flex-col justify-center lg:gap-10 gap-8 order-2 lg:order-1">
                    <div class="text-left">
                        <h1 class="text-gold font-bold text-xl leading-8">Strategic Vision:</h1>
                        <p class="text-[#B4B4B4] font-medium text-sm leading-8">
                            TRAZ is positioned as a leader in the security sector, continually investing in research and development to stay ahead of emerging security trends and challenges. Our
                            strategic vision includes anticipating future threats and developing innovative solutions that enable our clients to face tomorrow’s challenges with confidence.
                        </p>
                    </div>
                    <div class="text-left">
                        <h1 class="text-gold font-bold text-xl leading-8">Community Engagement:</h1>
                        <p class="text-[#B4B4B4] font-medium text-sm leading-8">
                            At TRAZ, We believe that security is a shared responsibility. We engage actively with local communities through educational initiatives, security awareness programs, and
                            partnerships aimed at building resilience. Our community engagement efforts are designed to empower individuals and organizations with the knowledge and tools they need to
                            enhance their own safety and contribute to broader community security.
                        </p>
                    </div>
                </div>
                <div class="right hide lg:h-[659px] h-[500px] overflow-hidden rounded-[12px] max-w-[659px] order-1 lg:order-2">
                    <img src="/images/profile/four.png" alt="" class="w-full h-full object-cover" />
                </div>
            </div>
        </div>
    </div>
</section>
