<% layout('./layouts/boilerplate') %>
<section class="serviceHero md:py-72 py-60 bg-blackBg text-center">
    <h1 class="text-gold font-bold lg:text-[80px] text-4xl lg:leading-[97px] leading-[48px]">OUR SERVICES</h1>
</section>
<section class="bg-blackBg flex justify-center lg:py-32 py-16">
    <div class="lg:w-[75%] w-[90%]">
        <div class="text-center mb-16">
            <p class="text-[#B4B4B4] font-medium text-sm leading-8 mx-auto max-w-[70rem] my-4">
                TRAZ Intelligence and Security Solutions Limited is a globally recognized organization dedicated to providing innovative and effective security solutions. Our expertise spans various
                security needs, from Cyber Threat Intelligence to Risk Management and Training.
            </p>
        </div>
        <div class="flex flex-col gap-24 mb-10">
            <div class="grid lg:grid-cols-2 grid-cols-1 gap-10 items-center">
                <div class="left hide overflow-hidden rounded-[12px] lg:h-[715px] h-[500px]">
                    <img src="/images/service/two.png" alt="" class="object-cover h-full w-full rounded-[12px]" />
                </div>
                <div class="right hide flex flex-col justify-center">
                    <h1 class="text-gold font-bold text-xl">Cybersecurity Threat Intelligence Services</h1>
                    <span class="inline-block text-[#fff] font-semibold text-sm leading-8">Consultancy Services on Cybersecurity Threat Mapping</span>
                    <p class="text-[#B4B4B4] font-medium text-sm leading-8">
                        In today’s digital world, proactive threat detection is crucial. Our cybersecurity threat intelligence services provide comprehensive threat mapping and analysis to identify
                        potential vulnerabilities before they can be exploited. We help organizations stay ahead of evolving cyber threats by offering tailored threat intelligence solutions to keep
                        their digital assets secure.
                    </p>
                    <span class="inline-block text-[#fff] font-semibold text-sm leading-8">Benefits:</span>
                    <ul class="list-disc pl-10">
                        <li class="text-[#B4B4B4] font-medium text-sm leading-8">Early detection of potential threats</li>
                        <li class="text-[#B4B4B4] font-medium text-sm leading-8">Tailored threat mitigation strategies</li>
                        <li class="text-[#B4B4B4] font-medium text-sm leading-8">Strengthened cybersecurity posture</li>
                    </ul>
                    <span class="inline-block text-[#fff] font-semibold text-sm leading-8">Solutions:</span>
                    <p class="text-[#B4B4B4] font-medium text-sm leading-8">
                        As technology evolves, so do cyber threats. We offer a range of cybersecurity products that help clients stay ahead of potential risks
                    </p>
                    <ul class="list-disc pl-6">
                        <li class="text-[#B4B4B4] font-medium text-sm leading-8">
                            <span class="text-[#fff] font-semibold text-sm leading-8"> Cyber Threat Intelligence Platform:</span> We have a robust tool that gathers, analyzes, and maps threat data to
                            provide early warning of cyber threats relevant to your organization.
                        </li>
                        <li class="text-[#B4B4B4] font-medium text-sm leading-8">
                            <span class="text-[#fff] font-semibold text-sm leading-8">Vulnerability Scanning Software:</span> We offer a comprehensive system designed to help organizations identify
                            weaknesses in their IT infrastructure and provide actionable recommendations to mitigate them.
                        </li>
                        <li class="text-[#B4B4B4] font-medium text-sm leading-8">
                            <span class="text-[#fff] font-semibold text-sm leading-8">Managed Firewall Services:</span> Protection for corporate networks through the implementation and ongoing
                            management of firewalls designed to prevent unauthorized access.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="grid lg:grid-cols-2 grid-cols-1 gap-10 items-center">
                <div class="left hide flex flex-col justify-center order-2 lg:order-1">
                    <h1 class="text-gold font-bold text-xl mb-2">Security Reports Packages</h1>
                    <p class="text-[#B4B4B4] font-medium text-sm leading-8 mb-4">
                        We offer a range of tailored security reports packages, specifically developed to meet the unique requirements of our clients, providing timely, data-driven insights into
                        security dynamics within specific industries and regions.
                    </p>

                    <ul class="flex flex-col gap-6">
                        <li class="text-[#B4B4B4] font-medium text-sm leading-8">
                            <span class="text-[#fff] font-semibold text-sm leading-8">Daily Incident Alerts:</span> We provide Immediate reports on emerging threats and incidents affecting specific
                            areas or industries across the globe.
                        </li>
                        <li class="text-[#B4B4B4] font-medium text-sm leading-8">
                            <span class="text-[#fff] font-semibold text-sm leading-8">Country and Regional Security Overviews:</span> We develop comprehensive reports with geopolitical analysis of
                            security threats affecting specific countries or regions, tailored to help multinational corporations, NGOs, and embassies.
                        </li>
                        <li class="text-[#B4B4B4] font-medium text-sm leading-8">
                            <span class="text-[#fff] font-semibold text-sm leading-8">Quarterly Sector-Specific Report:</span> Enhancing Sector Security with Data-Driven Insights <br />
                            Our Quarterly Sector-Specific Reports are crafted to enhance safety and security across various industries. By analyzing recent trends, threats, and opportunities, these
                            reports deliver critical insights that inform organizations' security strategies, enabling effective responses to emerging risks. We provide in-depth analyses of security
                            challenges and mitigation strategies, that give breakdown of actionable insights to help our clients strengthen their security measures.
                        </li>
                        <li class="text-[#B4B4B4] font-medium text-sm leading-8">
                            <span class="text-[#fff] font-semibold text-sm leading-8">Key Features:</span> <br />
                            Detailed analysis of sector-specific security threats. <br />
                            Data-driven insights and trend analysis. <br />
                            Actionable recommendations for sector-specific security enhancement.
                        </li>
                    </ul>
                </div>
                <div class="right hide overflow-hidden rounded-[12px] lg:h-[715px] h-[500px] order-1 lg:order-2">
                    <img src="/images/service/three.png" alt="" class="object-cover h-full w-full rounded-[12px]" />
                </div>
            </div>
            <div class="grid lg:grid-cols-2 grid-cols-1 gap-10 items-center">
                <div class="left hide overflow-hidden rounded-[12px] lg:h-[715px] h-[500px]">
                    <img src="/images/service/four.png" alt="" class="object-cover h-full w-full rounded-[12px]" />
                </div>
                <div class="right hide flex flex-col justify-center">
                    <h1 class="text-gold font-bold text-xl">Risk Assessment and Management</h1>
                    <p class="text-[#B4B4B4] font-medium text-sm leading-8">
                        Comprehensive Evaluation of Security Risks: Effective risk management starts with understanding potential threats. We provide in-depth risk assessment services to evaluate
                        existing vulnerabilities, followed by strategic advice to mitigate those risks. Our approach helps organizations protect their people, assets, and reputation by implementing
                        customized risk management solutions.
                    </p>
                    <span class="inline-block text-[#fff] font-semibold text-sm leading-8 my-2">Why Choose Our Risk Management Services?</span>
                    <ul class="list-disc pl-8">
                        <li class="text-[#B4B4B4] font-medium text-sm leading-8">We provide thorough assessment of current and future risks.</li>
                        <li class="text-[#B4B4B4] font-medium text-sm leading-8">We offer tailored risk mitigation strategies to fit your needs.</li>
                        <li class="text-[#B4B4B4] font-medium text-sm leading-8">Our holistic approach encompasses both physical and digital risks.</li>
                    </ul>
                    <span class="inline-block text-[#fff] font-semibold text-sm leading-8">Packages:</span>
                    <ul class="list-disc pl-8">
                        <li class="text-[#B4B4B4] font-medium text-sm leading-8">
                            <span class="text-[#fff] font-semibold text-sm leading-8">Comprehensive Risk Audit:</span> We carry out full-scale risk assessments, to evaluate a company’s vulnerabilities
                            across all domains: physical, operational, and cyber.
                        </li>
                        <li class="text-[#B4B4B4] font-medium text-sm leading-8">
                            <span class="text-[#fff] font-semibold text-sm leading-8">Risk Dashboard:</span> We design a real-time analytics dashboard that allows our clients to visualize their risk
                            exposure and understand which areas require immediate intervention.
                        </li>
                        <li class="text-[#B4B4B4] font-medium text-sm leading-8">
                            <span class="text-[#fff] font-semibold text-sm leading-8">Business Planning Toolkits:</span> Our comprehensive Custom toolkits to aid clients in developing effective
                            response and continuity plans, ensuring operational stability in times of crises.
                        </li>
                        <li class="text-[#B4B4B4] font-medium text-sm leading-8">
                            <span class="text-[#fff] font-semibold text-sm leading-8"> Consulting and Training:</span> Expertise and Training for Superior Security Practices: Our consulting and
                            training services are designed to enhance your organization’s security capabilities. Whether you need guidance on strategic security planning or customized training
                            programs for your personnel, we provide the expertise to develop and implement the best practices in intelligence and security.
                        </li>
                    </ul>
                    <span class="inline-block text-[#fff] font-semibold text-sm leading-8">What We Offer:</span>
                    <ul class="list-disc pl-8">
                        <li class="text-[#B4B4B4] font-medium text-sm leading-8">Expert consulting on security strategies tailored to your organization</li>
                        <li class="text-[#B4B4B4] font-medium text-sm leading-8">Training programs for personnel on intelligence best practices.</li>
                        <li class="text-[#B4B4B4] font-medium text-sm leading-8">Workshops and hands-on training led by our experienced security professionals</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
