<% layout('./layouts/boilerplate') %>
<section class="teamHero md:py-72 py-40 bg-blackBg text-center overflow-x-hidden">
    <h1 class="text-gold font-bold lg:text-[80px] text-4xl lg:leading-[97px] leading-[48px]">MEET THE TEAM</h1>
</section>
<section class="bg-blackBg flex justify-center lg:py-32 py-16 overflow-x-hidden">
    <div class="lg:w-[75%] w-[90%]">
        <div class="text-center">
            <h1 class="text-gold font-bold lg:text-4xl text-3xl leading-10">TRAZ LEADERSHIP PROFILE</h1>
            <p class="text-[#B4B4B4] font-medium text-sm leading-8 mx-auto max-w-[70rem] my-4">
                At TRAZ Intelligence and Security Solutions Limited, We believe everyone is a leader. Our team of experts all have unique attributes, strengths, and capabilities that add value to the
                achievement of our strategic objectives.
            </p>
            <p class="text-[#B4B4B4] font-medium text-sm leading-8 mx-auto max-w-[70rem]">
                Our competitive edge lies in our combination of expertise, innovation, and understanding of local security challenges. We partner with governments, corporations, and institutions
                across the continent to build a safer and more secure Africa for all. <br />
                Through our proactive approach, advanced technology, and expert leadership, TRAZ is committed to shaping the future of security in Africa.
            </p>
        </div>
    </div>
</section>
<section class="bg-blackBg flex justify-center lg:py-32 py-16 overflow-x-hidden">
    <div class="lg:w-[75%] w-[90%] text-center">
        <h1 class="diff-border inline-block bg-gold text-blackBg font-semibold sm:text-xl text-lg leading-9 sm:px-10 px-2 py-2 mb-10">Meet Our Trailblazing Leaders</h1>
        <div class="flex flex-col gap-10 mb-16">
            <div class="flex lg:flex-row flex-col items-center justify-between gap-10 lg:pb-10 lg:border-b border-[#2C2C2C]">
                <div class="h-[400px] lg:min-w-[400px] rounded-[12px] overflow-hidden">
                    <img src="/images/team/two.png" alt="" class="w-full h-full object-cover leaders-pic" />
                </div>
                <div class="text-left">
                    <h1 class="text-gold font-extrabold lg:text-4xl text-2xl leading-9 mb-2">Temitope Olodo ESq</h1>
                    <p class="text-[#D9D9D9] font-medium lg:text-xl text-lg leading-9">Chief Executive Officer</p>
                    <p class="text-[#D9D9D9] font-medium leading-9 mt-3">
                        Mr. Temitope Olodo is a distinguished Preventive Terrorism Consultant, Author, and President of the Africa Security Forum in the UK, recognized as a leading expert in Diaspora
                        Radicalization in Europe, with significant contributions in Information Management, De-Radicalization, and Combating Violent Extremism across Europe, Africa, and the Caribbean.
                        His career is marked by his service as a former Special Constable with Kent Police, leadership of British-Africans in Government (B.I.G). Mr Temitope believes that effective
                        security is the foundation of community resilience, driving his ongoing commitment to global terrorism prevention and the promotion of safety and security for all.
                    </p>
                </div>
            </div>
            <div class="flex lg:flex-row flex-col items-center justify-between gap-10 lg:pb-10 lg:border-b border-[#2C2C2C]">
                <div class="h-[400px] lg:min-w-[400px] rounded-[12px] overflow-hidden">
                    <img src="/images/team/three.png" alt="" class="w-full h-full object-cover leaders-pic" />
                </div>
                <div class="text-left">
                    <h1 class="text-gold font-extrabold lg:text-4xl text-2xl leading-9 mb-2">Retired Brigadier General Aminu Aliyu</h1>
                    <p class="text-[#D9D9D9] font-medium lg:text-xl text-lg leading-9">Chief Operating Officer</p>
                    <p class="text-[#D9D9D9] font-medium leading-9 mt-3">
                        Brig. Aminu is a distinguished officer whose career reflects a blend of military expertise, public relations acumen, and a commitment to national service. His legacy in the
                        Nigerian Army stands as a testament to professionalism, dedication, and a lifetime of service to his nation.
                    </p>
                </div>
            </div>
            <div class="flex lg:flex-row flex-col items-center justify-between gap-10 lg:pb-10 lg:border-b border-[#2C2C2C]">
                <div class="h-[400px] lg:min-w-[400px] rounded-[12px] overflow-hidden">
                    <img src="/images/team/four.png" alt="" class="w-full h-full object-cover leaders-pic" />
                </div>
                <div class="text-left">
                    <h1 class="text-gold font-extrabold lg:text-4xl text-2xl leading-9 mb-2">Roland Stockton</h1>
                    <p class="text-[#D9D9D9] font-medium lg:text-xl text-lg leading-9">Regional Director</p>
                    <p class="text-[#D9D9D9] font-medium leading-9 mt-3">
                        Mr Roland is a distinguished global expert with over 50 years of experience in international security, arms control, and training, having served in prestigious roles such as
                        Chemical Weapons Inspector, NBC Instructor, and Consultant for organizations like the OPCW, CTBTO, and UK Foreign and Commonwealth Office.
                    </p>
                </div>
            </div>
            <div class="flex lg:flex-row flex-col items-center justify-between gap-10 lg:pb-10 lg:border-b border-[#2C2C2C]">
                <div class="h-[400px] lg:min-w-[400px] rounded-[12px] overflow-hidden">
                    <img src="/images/team/five.png" alt="" class="w-full h-full object-cover leaders-pic" />
                </div>
                <div class="text-left">
                    <h1 class="text-gold font-extrabold lg:text-4xl text-2xl leading-9 mb-2">Chris Otieno</h1>
                    <p class="text-[#D9D9D9] font-medium lg:text-xl text-lg leading-9">Regional Director</p>
                    <p class="text-[#D9D9D9] font-medium leading-9 mt-3">
                        Mr. Chris is a distinguished RSSHE expert and former Kenya Defense Forces officer with over 20 years of experience in risk and security management, serving as a Senior
                        Lecturer, international trainer, and Lead Consultant at SATE East Africa Limited.
                    </p>
                </div>
            </div>
            <div class="flex lg:flex-row flex-col items-center justify-between gap-10 lg:pb-10 lg:border-b border-[#2C2C2C]">
                <div class="h-[400px] lg:min-w-[400px] rounded-[12px] overflow-hidden">
                    <img src="/images/team/six.png" alt="" class="w-full h-full object-cover leaders-pic" />
                </div>
                <div class="text-left">
                    <h1 class="text-gold font-extrabold lg:text-4xl text-2xl leading-9 mb-2">Prince Adebowale Lookman Adesina</h1>
                    <p class="text-[#D9D9D9] font-medium lg:text-xl text-lg leading-9">Regional Director</p>
                    <p class="text-[#D9D9D9] font-medium leading-9 mt-3">
                        Prince Adesina is a visionary leader with expertise in security management and immigration consultancy, backed by extensive experience in high-profile venues, with a solid
                        academic foundation, and a commitment to community leadership and legal excellence, reflected in his ongoing LLB studies at the University of South Africa.
                    </p>
                </div>
            </div>
            <div class="flex lg:flex-row flex-col items-center justify-between gap-10 lg:pb-10">
                <div class="h-[400px] lg:min-w-[400px] rounded-[12px] overflow-hidden">
                    <img src="/images/team/seven.png" alt="" class="w-full h-full object-cover leaders-pic" />
                </div>
                <div class="text-left">
                    <h1 class="text-gold font-extrabold lg:text-4xl text-2xl leading-9 mb-2">Oyewole Olusegun</h1>
                    <p class="text-[#D9D9D9] font-medium lg:text-xl text-lg leading-9">Regional Director</p>
                    <p class="text-[#D9D9D9] font-medium leading-9 mt-3">
                        Mr. Olusegun is a distinguished military veteran, historian, journalist, and clergyman, known for his expertise in defense, military-civilian relations, and strategic planning,
                        with a career marked by scholarly contributions, editorial leadership at Defence Times Newspaper Magazine, and his role as Regional Security Project Director on the U.S. East
                        Coast.
                    </p>
                </div>
            </div>
        </div>
        <div class="text-center">
            <h1 class="diff-border inline-block bg-gold text-blackBg font-semibold sm:text-xl text-lg leading-9 sm:px-10 px-2 py-2 mb-10">Meet Our Incredible Team</h1>
            <div class="grid lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 sm:gap-24 gap-14 lg:px-10 justify-items-center">
                <div class="text-left">
                    <img src="/images/team/eight.png" alt="" class="h-[300px] w-[300px] rounded-[12px] mb-3" />
                    <h1 class="text-[#D9D9D9] font-bold text-2xl leading-9 lg:my-2 my-1">Fathiyah Abba Adamu</h1>
                    <span class="text-[#D9D9D9] font-medium lg:text-xl text-lg leading-9">Head of Security Intelligence</span>
                </div>
                <div class="text-left">
                    <img src="/images/team/nine.png" alt="" class="h-[300px] w-[300px] rounded-[12px] mb-3" />
                    <h1 class="text-[#D9D9D9] font-bold text-2xl leading-9 lg:my-2 my-1">Oghenerume Igbereyivwe</h1>
                    <span class="text-[#D9D9D9] font-medium lg:text-xl text-lg leading-9">Security Intelligence Officer</span>
                </div>
                <div class="text-left">
                    <img src="/images/team/ten.png" alt="" class="h-[300px] w-[300px] rounded-[12px] mb-3" />
                    <h1 class="text-[#D9D9D9] font-bold text-2xl leading-9 lg:my-2 my-1">Oluwatosin Lawal</h1>
                    <span class="text-[#D9D9D9] font-medium lg:text-xl text-lg leading-9">Digital Marketing Lead</span>
                </div>
                <div class="text-left">
                    <img src="/images/team/eleven.png" alt="" class="h-[300px] w-[300px] rounded-[12px] mb-3" />
                    <h1 class="text-[#D9D9D9] font-bold text-2xl leading-9 lg:my-2 my-1">Adewuyi Adetutu</h1>
                    <span class="text-[#D9D9D9] font-medium lg:text-xl text-lg leading-9">Lead Product Analyst</span>
                </div>
                <div class="text-left">
                    <img src="/images/team/twelve.png" alt="" class="h-[300px] w-[300px] rounded-[12px] mb-3" />
                    <h1 class="text-[#D9D9D9] font-bold text-2xl leading-9 lg:my-2 my-1">Awase Mercy Irtwange</h1>
                    <span class="text-[#D9D9D9] font-medium lg:text-xl text-lg leading-9">UI/UX Design Officer</span>
                </div>
            </div>
        </div>
    </div>
</section>
