<% layout('./layouts/boilerplate') %>
<section class="trainingHero md:py-72 py-40 bg-blackBg text-center overflow-x-hidden">
    <h1 class="text-gold font-bold lg:text-[80px] text-4xl lg:leading-[97px] leading-[48px]">OUR TRAINING</h1>
</section>
<section class="bg-blackBg flex justify-center lg:py-32 py-16 overflow-x-hidden">
    <div class="lg:w-[75%] w-[90%]">
        <div class="text-center mb-16">
            <p class="text-[#B4B4B4] font-medium leading-9 my-4">
                At TRAZ Intelligence and Security Solutions Limited, we offer specialized and comprehensive security training tailored to meet the evolving security needs of organizations,
                individuals, and governments. Our courses are designed to equip participants with the skills and knowledge required to navigate today’s complex security landscape. We offer several
                training packages across different areas of expertise, delivered by our seasoned professionals with extensive experience in the field.
            </p>
        </div>
        <div class="flex flex-col gap-24 mb-10">
            <div class="grid lg:grid-cols-2 grid-cols-1 lg:gap-16 gap-10 items-center">
                <div class="left hide flex flex-col justify-center order-2 lg:order-1">
                    <h1 class="text-gold font-bold text-xl">Counterterrorism Training</h1>
                    <p class="text-[#B4B4B4] font-medium text-sm leading-8">
                        Our Counterterrorism Training program is designed to equip participants with the necessary skills to detect, deter, and respond to terrorism-related threats. This program is
                        ideal for law enforcement, military personnel, and private security professionals looking to enhance their skills in counterterrorism efforts
                    </p>
                    <p class="text-[#B4B4B4] font-medium text-sm leading-8 mt-4">This course covers</p>
                    <ul class="list-disc pl-6">
                        <li class="text-[#B4B4B4] font-medium text-sm leading-8">
                            <span class="text-[#fff] font-semibold text-sm leading-8">Threat Identification:</span> Learn how to recognize signs of terrorist activity and understand the key indicators
                            of potential threats.
                        </li>
                        <li class="text-[#B4B4B4] font-medium text-sm leading-8">
                            <span class="text-[#fff] font-semibold text-sm leading-8">Incident Management:</span> Gain hands-on experience in managing terrorist incidents, from initial response to
                            post-event analysis.
                        </li>
                        <li class="text-[#B4B4B4] font-medium text-sm leading-8">
                            <span class="text-[#fff] font-semibold text-sm leading-8">Terrorism Prevention Strategies:</span> Understand the methods and strategies to prevent terrorism through
                            intelligence-led operations.
                        </li>
                        <li class="text-[#B4B4B4] font-medium text-sm leading-8">
                            <span class="text-[#fff] font-semibold text-sm leading-8">Counterterrorism Operations:</span> Learn practical tactics and techniques to engage in counterterrorism
                            operations, including surveillance, profiling, and counterinsurgency tactics.
                        </li>
                    </ul>
                </div>
                <div class="right hide overflow-hidden rounded-[12px] h-[468px] order-1 lg:order-2">
                    <img src="/images/training/one.png" alt="" class="object-cover h-full w-full rounded-[12px]" />
                </div>
            </div>
            <div class="grid lg:grid-cols-2 grid-cols-1 lg:gap-16 gap-10 items-center">
                <div class="left hide overflow-hidden rounded-[12px] h-[468px]">
                    <img src="/images/training/two.png" alt="" class="object-cover h-full w-full rounded-[12px]" />
                </div>
                <div class="right hide flex flex-col justify-center">
                    <h1 class="text-gold font-bold text-xl">Intensive Risk Management Training</h1>
                    <p class="text-[#B4B4B4] font-medium text-sm leading-8">
                        Risk is an inherent part of every business and operation. Our Intensive Risk Management Training focuses on building a proactive risk management culture. Our Intensive Risk
                        Management Training provides participants with the tools and frameworks needed to assess and manage risks in high-threat environments. This course is designed for corporate
                        security managers, risk officers, and professionals involved in managing large-scale security projects.
                    </p>
                    <p class="text-[#B4B4B4] font-medium text-sm leading-8 mt-4">Key areas covered include:</p>
                    <ul class="list-disc pl-6">
                        <li class="text-[#B4B4B4] font-medium text-sm leading-8">
                            <span class="text-[#fff] font-semibold text-sm leading-8">Risk Assessment and Analysis:</span> Learn to identify, evaluate, and prioritize security risks across different
                            scenarios.
                        </li>
                        <li class="text-[#B4B4B4] font-medium text-sm leading-8">
                            <span class="text-[#fff] font-semibold text-sm leading-8">Crisis Management:</span> Acquire skills in managing security crises, from corporate security breaches to
                            national-level emergencies.
                        </li>
                        <li class="text-[#B4B4B4] font-medium text-sm leading-8">
                            <span class="text-[#fff] font-semibold text-sm leading-8">Threat Mitigation Strategies:</span> Explore strategies to mitigate and minimize risks, ensuring the safety of
                            personnel, assets, and infrastructure.
                        </li>
                        <li class="text-[#B4B4B4] font-medium text-sm leading-8">
                            <span class="text-[#fff] font-semibold text-sm leading-8">Business Continuity Planning:</span> Learn how to develop and implement effective business continuity plans to
                            ensure operational resilience during and after security incidents.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="grid lg:grid-cols-2 grid-cols-1 lg:gap-16 gap-10 items-center">
                <div class="left hide flex flex-col justify-center order-2 lg:order-1">
                    <h1 class="text-gold font-bold text-xl">Security Operations Training</h1>
                    <p class="text-[#B4B4B4] font-medium text-sm leading-8 my-2">
                        This training provides a holistic understanding of operational security, ensuring that participants can effectively manage security challenges in both private and public
                        sectors. The course includes:
                    </p>
                    <ul class="list-disc pl-6">
                        <li class="text-[#B4B4B4] font-medium text-sm leading-8">
                            <span class="text-[#fff] font-semibold text-sm leading-8">Surveillance and reconnaissance:</span> Master covert surveillance techniques and data collection.
                        </li>
                        <li class="text-[#B4B4B4] font-medium text-sm leading-8">
                            <span class="text-[#fff] font-semibold text-sm leading-8">Access control systems:</span> Understand the latest technology and protocols for securing facilities.
                        </li>
                        <li class="text-[#B4B4B4] font-medium text-sm leading-8">
                            <span class="text-[#fff] font-semibold text-sm leading-8">Incident response:</span> Learn how to react swiftly and effectively to a variety of security breaches.
                        </li>
                    </ul>
                </div>
                <div class="right hide overflow-hidden rounded-[12px] h-[468px] order-1 lg:order-2">
                    <img src="/images/training/three.png" alt="" class="object-cover h-full w-full rounded-[12px]" />
                </div>
            </div>
            <div class="grid lg:grid-cols-2 grid-cols-1 lg:gap-16 gap-10 items-center">
                <div class="left hide overflow-hidden rounded-[12px] h-[468px]">
                    <img src="/images/training/four.png" alt="" class="object-cover h-full w-full rounded-[12px]" />
                </div>
                <div class="right hide flex flex-col justify-center">
                    <h1 class="text-gold font-bold text-xl">Cybersecurity Awareness and Training</h1>
                    <p class="text-[#B4B4B4] font-medium text-sm leading-8 my-2">
                        With cyber threats becoming increasingly sophisticated, this program empowers participants to recognize and respond to digital threats. It covers:
                    </p>
                    <ul class="list-disc pl-6">
                        <li class="text-[#B4B4B4] font-medium text-sm leading-8">
                            <span class="text-[#fff] font-semibold text-sm leading-8">Cyber threat landscape:</span> A detailed look at the types of cyberattacks and the motivations behind them.
                        </li>
                        <li class="text-[#B4B4B4] font-medium text-sm leading-8">
                            <span class="text-[#fff] font-semibold text-sm leading-8">Phishing and social engineering:</span> Learn to identify and avoid common online traps.
                        </li>
                        <li class="text-[#B4B4B4] font-medium text-sm leading-8">
                            <span class="text-[#fff] font-semibold text-sm leading-8">Incident response for cyber threats:</span> Understand how to secure networks and data during and after a cyber
                            incident.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="text-center mt-24 flex flex-col items-center">
            <h1 class="text-gold font-bold lg:text-3xl text-2xl leading-10">Specialized Security Training Programs</h1>
            <p class="text-[#D9D9D9] font-medium leading-8 my-2">
                We also offer bespoke security training services tailored to the unique needs of our clients. Whether it’s sector-specific security challenges or advanced, specialized courses, we work
                closely with organizations to develop training that meets their requirements. Our training programs are led by industry experts with years of field experience. Whether you are looking
                to bolster your organizational security or enhance your personal security skills, TRAZ provides the highest standard of training to ensure you're prepared for any challenge.
            </p>
            <div class="md:w-[85%] lg:p-10 p-4 bg-[#161616] border border-[#262626] rounded-[12px] grid lg:grid-cols-2 grid-cols-1 gap-10 my-16">
                <div class="bg-blackBg rounded-[24px] flex items-center justify-center py-16">
                    <img src="/images/logo.png" alt="logo" class="md:w-[311px] w-[160px] md:h-[298px] h-[160px]" />
                </div>
                <div class="flex flex-col justify-center text-left">
                    <h1 class="text-gold font-bold lg:text-2xl text-xl">Our Training Packages</h1>
                    <p class="text-[#B4B4B4] font-medium text-sm leading-8 my-2">We offer the following flexible training packages to suit varying needs:</p>
                    <ul class="list-disc pl-4">
                        <li class="text-[#B4B4B4] font-medium text-sm leading-8">
                            <span class="text-[#fff] font-semibold text-sm leading-8">Basic Training Package:</span> A foundation course for individuals and professionals new to security operations.
                            This package includes introductory courses in risk management, threat detection, and crisis response.
                        </li>
                        <li class="text-[#B4B4B4] font-medium text-sm leading-8">
                            <span class="text-[#fff] font-semibold text-sm leading-8">Advanced Training Package:</span> For experienced professionals looking to deepen their expertise. This package
                            covers in-depth counterterrorism strategies, high-level risk assessments, and complex security operations.
                        </li>
                        <li class="text-[#B4B4B4] font-medium text-sm leading-8">
                            <span class="text-[#fff] font-semibold text-sm leading-8">Corporate Training Package:</span> Tailored for businesses and organizations, this package includes comprehensive
                            training in enterprise risk management, cybersecurity, and physical security protocols.
                        </li>
                        <li class="text-[#B4B4B4] font-medium text-sm leading-8">
                            <span class="text-[#fff] font-semibold text-sm leading-8">Government/Military Package:</span> Designed for government agencies, law enforcement, and military personnel,
                            this package focuses on advanced counterterrorism tactics, intelligence operations, and critical incident management.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="text-center lg:mt-24 mt-16 flex flex-col items-center">
            <h1 class="text-gold font-bold lg:text-3xl text-2xl leading-10">Why Choose TRAZ for Your Security Training?</h1>
            <div class="md:w-[83%] hidden lg:flex items-center justify-between gap-10 mt-10">
                <div class="training-buttons w-[35%] flex flex-col items-center gap-4 text-left">
                    <div id="expert" class="active training-cards cursor-pointer p-6 border border-[#1D1D1D] rounded-[12px]">
                        <h1 class="text-[#F8F8F8] font-bold">Expert Trainers</h1>
                        <p class="text-sm leading-6 text-[#F8F8F8]">Our courses are delivered by security professionals with years of field experience.</p>
                    </div>
                    <div id="practical" class="training-cards cursor-pointer p-6 border border-[#1D1D1D] rounded-[12px]">
                        <h1 class="text-[#F8F8F8] font-bold">Practical Focus</h1>
                        <p class="text-sm leading-6 text-[#F8F8F8]">
                            We emphasize real-world scenarios and practical exercises to ensure participants are well-prepared for actual security challenges.
                        </p>
                    </div>
                    <div id="customized" class="training-cards cursor-pointer p-6 border border-[#1D1D1D] rounded-[12px]">
                        <h1 class="text-[#F8F8F8] font-bold">Customized Programs</h1>
                        <p class="text-sm leading-6 text-[#F8F8F8]">We tailor our training to meet the unique needs of our clients, whether for corporate, government, or individual purposes.</p>
                    </div>
                    <div id="global" class="training-cards cursor-pointer p-6 border border-[#1D1D1D] rounded-[12px]">
                        <h1 class="text-[#F8F8F8] font-bold">Global Perspective</h1>
                        <p class="text-sm leading-6 text-[#F8F8F8]">
                            With a focus on international best practices, we ensure that participants are equipped to handle security challenges both locally and globally.
                        </p>
                    </div>
                </div>
                <div class="training-images w-[65%] overflow-hidden max-h-[640px] rounded-[12px]">
                    <img id="expert" src="/images/training/five.png" alt="" class="w-full h-full object-cover" />
                    <img id="practical" src="/images/training/six.png" alt="" class="hidden w-full h-full object-cover" />
                    <img id="customized" src="/images/training/seven.png" alt="" class="hidden w-full h-full object-cover" />
                    <img id="global" src="/images/training/eight.png" alt="" class="hidden w-full h-full object-cover" />
                </div>
            </div>
            <div class="lg:hidden flex justify-center">
                <div class="flex flex-col items-center gap-4 text-left">
                    <div id="" class="cursor-pointer p-6 border border-[#1D1D1D] rounded-[12px] w-full">
                        <h1 class="text-[#F8F8F8] font-bold">Expert Trainers</h1>
                        <p class="text-sm leading-6 text-[#F8F8F8]">Our courses are delivered by security professionals with years of field experience.</p>
                    </div>

                    <div id="" class="cursor-pointer p-6 border border-[#1D1D1D] rounded-[12px] w-full">
                        <h1 class="text-[#F8F8F8] font-bold">Practical Focus</h1>
                        <p class="text-sm leading-6 text-[#F8F8F8]">
                            We emphasize real-world scenarios and practical exercises to ensure participants are well-prepared for actual security challenges.
                        </p>
                    </div>
                    <div id="" class="cursor-pointer p-6 border border-[#1D1D1D] rounded-[12px] w-full">
                        <h1 class="text-[#F8F8F8] font-bold">Customized Programs</h1>
                        <p class="text-sm leading-6 text-[#F8F8F8]">We tailor our training to meet the unique needs of our clients, whether for corporate, government, or individual purposes.</p>
                    </div>
                    <div id="" class="cursor-pointer p-6 border border-[#1D1D1D] rounded-[12px] w-full">
                        <h1 class="text-[#F8F8F8] font-bold">Global Perspective</h1>
                        <p class="text-sm leading-6 text-[#F8F8F8]">
                            With a focus on international best practices, we ensure that participants are equipped to handle security challenges both locally and globally.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    document.querySelectorAll(".training-cards").forEach((button) => {
        button.addEventListener("click", function () {
            document.querySelectorAll(".training-cards").forEach((btn) => {
                btn.classList.remove("active");
            });
            this.classList.add("active");
            document.querySelectorAll(".training-images > img").forEach((card) => {
                if (card.id === this.id) {
                    card.classList.remove("hidden");
                } else {
                    card.classList.add("hidden");
                }
            });
        });
    });
</script>
